$height:65;
$depth:6;
$color:#7fbb98;
$text-color:darken($color,10%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out;
::ng-deep{

  .btn {
    cursor:pointer;
    margin-left:5px;
    z-index: 1;
    margin-bottom:15px;
    text-shadow:0 -2px 0 darken($color,20%),0 1px 1px lighten($color,20%) ;
    box-sizing:border-box;
    font-size:2em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration:none;
    font-weight:bold;
    color:$text-color;
    &:visited {
      color:$text-color;
    }
    height:$height+px;
    line-height:$height+px;
    padding: 0 (($height/2)+px);
    display:inline-block;
    width:auto;
    background: linear-gradient(to bottom,
      saturate(lighten($color,15%),35%) 0%,
      saturate(lighten($color,12%),15%) 26%,
      $color 100%);
    border-radius:5px;
    border-top:1px solid lighten($color,22%);
    border-bottom:1px solid lighten($color,20%);
    top:0;
    transition:all ($button-speed + s) $timing-function;
    position:relative;
  }
  .btn:active {
    top:$depth+px;
    text-shadow:0 -2px 0 darken($color,0%),0 1px 1px lighten($color,20%), 0 0 4px white ;
    color:lighten($color,45%);
    &:before {
      top:0;
      box-shadow: 0 3px 3px rgba(0,0,0,.7),0 3px 9px rgba(0,0,0,.2);

    }
  }
  .btn:before {
    display:inline-block;
    content:'';
    position:absolute;
    left:0;
    right:0;
    z-index:-1;
    top:($depth)+px;
    border-radius:5px;
    height:($height)+px;
    background: linear-gradient(to top,
      saturate(darken($color,40%),15%) 0%,
      saturate(darken($color,25%),10%) $depth+px);
    transition:all (($button-speed*1.3) + s) $timing-function;
    box-shadow:
      0 1px 0 2px rgba(0,0,0,.3),
      0 5px ($depth*.4+px) rgba(0,0,0,.5),
      0 ($depth*1.8+px) 9px rgba(0,0,0,.2);
  }

  .h-45rem{
    height: 45rem;
  }

  .p-overlaypanel{
    padding: 10px 15px !important;
  }
  .activePanel {
    background-color: yellow; /* Highlight selected items */
    color: gray; /* Text color for selected items */
  }

  .p-overlaypanel-content{
    padding: 0px !important;
  }

  .table-fixed{
    .p-datatable-table{
      border-collapse: collapse;
    }
    .p-datatable-thead{
      tr{
        position: sticky;
        top: 0;
        right: 0;
        z-index: 1;
      }
    }

    //thead th:first-child{
    //  position: sticky;
    //  top: 0;
    //  right: 0;
    //  z-index: 1;
    //  //background: #fff;
    //}

    //tbody td:first-child{
    //  position: sticky;
    //  right: 0;
    //  background: #fff;
    //}
  }

  .p-tabview-nav{
    background: none;
    .p-tabview-nav-link{
      color: #7d7d7d !important;
      background: none;
    }
  }

}

.selected {
  background-color: #3B82F6 !important;
  color:#f3f3f3 !important;
}
.selected-date {
  background-color: #fb923c !important;
  color:#f3f3f3 !important;
}
.selected-expert {
  background-color: #6b7280 !important;
  color:#f3f3f3 !important;
}

.active-tab {
  color: #6366F1 !important;
}



.green-bg {
  background: #22c55e !important;
  .pi{
    color: #fff !important;
  }
}



.simple-triple-switch{
  display: flex;
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding: 2px;
  background: #f0f0f0;
  border-radius: 30px;
  border: solid 1px #d5d7d8;
  li{
    width: 25px;
    height: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    span{
      display: inline-block;
      margin-top: 30px;
      flex: 0 0 80px;
      max-width: 80px;
      line-height: 16px;
      text-align: center;
    }
  }
}
