<div class="p-card p-4 shadow-2 mx-auto" style="width:800px; min-height:80vh">
  <div class="grid">
    <div class="col-12">
      <div class="text-left mt-3">
        <button type="button" pButton pRipple
                class="p-button-success"
                label="ثبت" icon="pi pi-save mx-2"
                (click)="manager.save()">
        </button>
        <button type="button" pButton pRipple
                class="mr-4 p-button-danger"
                label="انصراف" icon="pi pi-sign-out mx-2"
                (click)="manager.cancel()">
        </button>
      </div>
    </div>
  </div>

  <p-tabView>

    <p-tabPanel>

      <ng-template pTemplate="header" >
        <i class="ml-2 pi pi-file-edit"></i>
        <span>مشخصات</span>
      </ng-template>

      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="form-group">
            <label class="text-sm">عنوان جریان</label>
            <span class="text-red-500 font-bold text- mr-1">*</span>
            <div class="field">
              <input pInputText id="title" name="title"
                     placeholder="عنوان جریان را وارد نمایید"
                     class="w-full" [(ngModel)]="manager.oneObject.title"/>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-12">
          <div class="flex flex-column flex-1">
            <label class="text-sm">توضیحات</label>
            <textarea
              id="description"
              name="description"
              rows="5" cols="30"
              pInputTextarea
              [autoResize]="false"
              [(ngModel)]="manager.oneObject.description"
              placeholder="توضیحات را وارد نمایید.">
        </textarea>
          </div>
        </div>

        <p-divider styleClass="px-5 py-2" class="w-full divider m-0" align="center" type="dashed">
          <b class="px-2 text-base font-bold">کاربران</b>
        </p-divider>

        <div class="col-12 md:col-6">
          <div class="datePickerContainer relative">
            <label class="text-sm">راهبر</label>
            <span class="text-red-500 font-bold text- mr-1">*</span>
            <div>
              <p-dropdown
                [styleClass]="'clear-icon'"
                [showClear]="true"
                [options]="adminUsers"
                [(ngModel)]="manager.oneObject.pathAdminId"
                class="mt-2"
                [style]="{'width':'100%'}"
                optionLabel="fullName"
                optionValue="id"
                placeholder="راهبر برای جریان انتخاب کنید">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="form-group">
            <label class="text-sm">کارشناس</label>
            <span class="text-red-500 font-bold text- mr-1">*</span>
            <div class="field">
              <p-multiSelect [style]="{'width':'100%'}"
                             name="userType"
                             class="w-full"
                             placeholder ="کارشناسان را انتخاب نمایید"
                             scrollHeight="250px"
                             display="chip"
                             optionLabel="fullName"
                             optionValue="id"
                             [(ngModel)]="manager.oneObject.pathExpertIds"
                             [options]="expertUsers">
              </p-multiSelect>
            </div>
          </div>
        </div>


      </div>

    </p-tabPanel>

    <p-tabPanel>

      <ng-template pTemplate="header" >
        <i class="ml-2 pi pi-sitemap"></i>
        <span>گام ها</span>
      </ng-template>

      <div class="grid">
        <div class="col-12">
          <p-orderList
            #orderList
            [value]="manager.oneObject.steps ? manager.oneObject.steps : []"
            [style]="{'direction': 'ltr'}"
            [dragdrop]="true"
            (onReorder)="changeOrder()">

            <ng-template pTemplate="header">
              <div class="flex justify-content-center align-items-center gap-2">
                <button type="button" pButton pRipple
                        class="p-button-success pi pi-plus border-round-3xl p-1"
                        pTooltip="گام جدید" tooltipPosition="top" (click)="onAddNewStep()"></button>
                <p class="text-center m-0">گام های جریان</p>
              </div>
            </ng-template>

            <ng-template let-item let-i="index"  let-isLast="last" pTemplate="item">
              <div class="lex" style="direction: rtl !important;">
                <div class="flex mb-3 gap-3">

                  <div class="flex flex-column justify-content-between flex-1">
                    <p class="text-center mb-1 border-bottom-1 border-gray-200" *ngIf="i==0">عنوان</p>
                    <div class="form-group">
                      <input
                        pInputText
                        id="steps"
                        name="steps"
                        class="w-full"
                        [(ngModel)]="item.title"
                        (keydown)="handleSpace($event)"
                        placeholder="عنوان گام را وارد نمایید"/>
                    </div>
                  </div>

                  <div class="flex flex-column justify-content-between">
                    <p class="text-center mb-1 border-bottom-1 border-gray-200" *ngIf="i==0">حد زمانی رسوب</p>
                    <div class="form-group flex align-items-end gap-3">
                      <input
                        pInputText
                        type="text"
                        id="reminder"
                        name="reminder"
                        class="p-fieldset"
                        placeholder="مدت زمان"
                        [style]="{'width':'150px'}"
                        [(ngModel)]="item.deadlineValue"
                        [pKeyFilter]="'int'">
                      <div class="form-group flex">
                        <p-dropdown
                          [styleClass]="'clear-icon'"
                          [showClear]="true"
                          [options]="TimeUnits"
                          [(ngModel)]="item.periodTimeUnit"
                          optionLabel="title"
                          optionValue="value"
                          class="mt-2"
                          [style]="{'width':'150px'}"
                          [required]="true"
                          [appendTo]="'body'"
                          placeholder="واحد زمانی">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>


                  <div class="form-group flex align-items-end gap-3">
                    <button type="button" pButton pRipple
                            style="width:30px; height:30px"
                            class="p-button-danger pi pi-times  border-round-3xl p-0"
                            pTooltip="حذف گام" tooltipPosition="top"
                            (mousedown)="onDeleteStep(item)">
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>

          </p-orderList>
          <!--      <div class="form-group mt-3">-->
          <!--        <button type="submit" pButton-->
          <!--                class="p-button-success w-full"-->
          <!--                label="افزودن گام جدید"-->
          <!--                (click)="onAddNewStep()">-->
          <!--        </button>-->
          <!--      </div>-->

        </div>
      </div>

    </p-tabPanel>

  </p-tabView>



<!--  <div class="grid">-->
<!--    <div class="col-12 bg-bluegray-50 border-round mb-3">-->
<!--      <div class="flex justify-content-between align-items-center">-->
<!--        <h6 class="font-bold text-green-500 m-0">{{ isId ? 'ویرایش جریان' : 'جریان جدید'}}</h6>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12">-->
<!--      <p-divider type="solid" [style]="{'border-top':'1px solid #f7f7f7',}"/>-->
<!--    </div>-->

<!--  </div>-->

<!--  <p-divider type="solid" [style]="{'border-top':'1px solid #d1d1d1',}"/>-->

<!--  <p-divider align="center" type="dotted">-->
<!--    <div class="flex align-items-center gap-1">-->
<!--      <b class="px-2 text-sm font-bold">مشخصات</b>-->
<!--    </div>-->
<!--  </p-divider>-->

<!--  <div class="grid">-->
<!--    <div class="col-12 md:col-6">-->
<!--      <div class="form-group">-->
<!--        <label class="text-sm">عنوان جریان</label>-->
<!--        <span class="text-red-500 font-bold text- mr-1">*</span>-->
<!--        <div class="field">-->
<!--          <input pInputText id="title" name="title"-->
<!--                 placeholder="عنوان جریان را وارد نمایید"-->
<!--                 class="w-full" [(ngModel)]="manager.oneObject.title"/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-12">-->
<!--      <div class="flex flex-column flex-1">-->
<!--        <label class="text-sm">توضیحات</label>-->
<!--        <textarea-->
<!--          id="description"-->
<!--          name="description"-->
<!--          rows="5" cols="30"-->
<!--          pInputTextarea-->
<!--          [autoResize]="false"-->
<!--          [(ngModel)]="manager.oneObject.description"-->
<!--          placeholder="توضیحات را وارد نمایید.">-->
<!--        </textarea>-->
<!--      </div>-->
<!--    </div>-->

<!--    <p-divider class="col-12" align="center" type="dotted">-->
<!--      <div class="flex align-items-center gap-1">-->
<!--        <b class="px-2 text-sm font-bold">کاربران</b>-->
<!--      </div>-->
<!--    </p-divider>-->

<!--    <div class="col-12 md:col-6">-->
<!--      <div class="datePickerContainer relative">-->
<!--        <label class="text-sm">راهبر</label>-->
<!--        <span class="text-red-500 font-bold text- mr-1">*</span>-->
<!--        <div>-->
<!--          <p-dropdown-->
<!--            [styleClass]="'clear-icon'"-->
<!--            [showClear]="true"-->
<!--            [options]="adminUsers"-->
<!--            [(ngModel)]="manager.oneObject.pathAdminId"-->
<!--            class="mt-2"-->
<!--            [style]="{'width':'100%'}"-->
<!--            optionLabel="fullName"-->
<!--            optionValue="id"-->
<!--            placeholder="راهبر برای جریان انتخاب کنید">-->
<!--          </p-dropdown>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-6">-->
<!--      <div class="form-group">-->
<!--        <label class="text-sm">کارشناس</label>-->
<!--        <span class="text-red-500 font-bold text- mr-1">*</span>-->
<!--        <div class="field">-->
<!--          <p-multiSelect [style]="{'width':'100%'}"-->
<!--                         name="userType"-->
<!--                         class="w-full"-->
<!--                         placeholder ="کارشناسان را انتخاب نمایید"-->
<!--                         scrollHeight="250px"-->
<!--                         display="chip"-->
<!--                         optionLabel="fullName"-->
<!--                         optionValue="id"-->
<!--                         [(ngModel)]="manager.oneObject.pathExpertIds"-->
<!--                         [options]="expertUsers">-->
<!--          </p-multiSelect>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="col-12">-->
<!--      <p-orderList-->
<!--        #orderList-->
<!--        [value]="manager.oneObject.steps ? manager.oneObject.steps : []"-->
<!--        [style]="{'direction': 'ltr'}"-->
<!--        [dragdrop]="true"-->
<!--        (onReorder)="changeOrder()">-->

<!--        <ng-template pTemplate="header">-->
<!--          <div class="flex justify-content-center align-items-center gap-2">-->
<!--            <button type="button" pButton pRipple-->
<!--                    class="p-button-success pi pi-plus border-round-3xl p-1"-->
<!--                    pTooltip="گام جدید" tooltipPosition="top" (click)="onAddNewStep()"></button>-->
<!--            <p class="text-center m-0">گام های جریان</p>-->
<!--          </div>-->
<!--        </ng-template>-->

<!--        <ng-template let-item let-i="index"  let-isLast="last" pTemplate="item">-->
<!--          <div class="lex" style="direction: rtl !important;">-->
<!--            <div class="flex align-items-end mb-3 gap-3">-->
<!--              <div class="flex flex-column flex-1">-->
<!--                <label class="text-sm">عنوان</label>-->
<!--                <input-->
<!--                  pInputText-->
<!--                  id="steps"-->
<!--                  name="steps"-->
<!--                  [(ngModel)]="item.title"-->
<!--                  (keydown)="handleSpace($event)"-->
<!--                  placeholder="عنوان گام را وارد نمایید"/>-->
<!--              </div>-->

<!--              <div class="flex flex-column">-->
<!--                <p class="text-center mb-1 border-bottom-1 border-gray-200">حد زمانی رسوب</p>-->
<!--                <div class="form-group flex align-items-end gap-3">-->
<!--                  <input-->
<!--                    pInputText-->
<!--                    type="text"-->
<!--                    id="reminder"-->
<!--                    name="reminder"-->
<!--                    class="p-fieldset"-->
<!--                    placeholder="مدت زمان"-->
<!--                    [style]="{'width':'150px'}"-->
<!--                    [(ngModel)]="item.deadlineValue"-->
<!--                    [pKeyFilter]="'int'">-->
<!--                  <div class="form-group flex">-->
<!--                    <p-dropdown-->
<!--                      [styleClass]="'clear-icon'"-->
<!--                      [showClear]="true"-->
<!--                      [options]="TimeUnits"-->
<!--                      [(ngModel)]="item.periodTimeUnit"-->
<!--                      optionLabel="title"-->
<!--                      optionValue="value"-->
<!--                      class="mt-2"-->
<!--                      [style]="{'width':'150px'}"-->
<!--                      [required]="true"-->
<!--                      [appendTo]="'body'"-->
<!--                      placeholder="واحد زمانی">-->
<!--                    </p-dropdown>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->



<!--              <div class="form-group flex gap-3">-->
<!--                <button type="button" pButton pRipple-->
<!--                        style="width:30px; height:30px"-->
<!--                        class="p-button-danger pi pi-times  border-round-3xl p-0"-->
<!--                        pTooltip="حذف گام" tooltipPosition="top"-->
<!--                        (mousedown)="onDeleteStep(item)">-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->

<!--      </p-orderList>-->
<!--&lt;!&ndash;      <div class="form-group mt-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" pButton&ndash;&gt;-->
<!--&lt;!&ndash;                class="p-button-success w-full"&ndash;&gt;-->
<!--&lt;!&ndash;                label="افزودن گام جدید"&ndash;&gt;-->
<!--&lt;!&ndash;                (click)="onAddNewStep()">&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--    </div>-->

<!--    <div class="col-12">-->
<!--      <div class="text-left mt-3">-->
<!--        <button type="button" pButton pRipple-->
<!--                class="p-button-success"-->
<!--                label="ثبت" icon="pi pi-save mx-2"-->
<!--                (click)="manager.save()">-->
<!--        </button>-->
<!--        <button type="button" pButton pRipple-->
<!--                class="mr-4 p-button-danger"-->
<!--                label="انصراف" icon="pi pi-sign-out mx-2"-->
<!--                (click)="manager.cancel()">-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
</div>
