::ng-deep {

  .p-overlaypanel{
    padding: 10px 15px !important;
  }

  .p-tabview-nav{
    background: none;
    .p-tabview-nav-link{
      color: #7d7d7d !important;
      background: none;
    }
  }

  .ticket-scroll-container {
    max-height: 650px; // یا هر ارتفاعی که با layoutت سازگار باشه
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px;
  }

  .p-button {
    &:focus {
      box-shadow: none;
    }
  }

  .activePanel {
    background: #f6de95 !important;
    box-shadow: 0 0 0 0.2rem #f6de95 !important;
    //&:focus{
    //  box-shadow: 0 0 0 0.2rem #f6de95 !important;
    //}
  }

  .bodys {
    display:grid;
    //grid-template-columns: repeat( auto-fill, minmax(16rem, 1fr) );
    grid-template-columns: repeat( auto-fill, minmax(21rem, 1fr) );
    grid-gap: 2rem;
    padding:1rem;
    //background:#F5F7FA;
    .card {
      --background:#FFFFFF;
      --text:black;
      position: relative;
      //height:15rem;
      box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
      //overflow: hidden;
      .multi-button {
        z-index:0;
        position: absolute;
        top:1.25rem;
        left:1.25rem;
        border-radius:100%;
        width:0rem;
        height:0rem;
        transform: translate(-50%, -50%);
        transition: .25s cubic-bezier(0.25, 0, 0, 1);
        opacity: 0;
        button {
          display: grid;
          place-items: center;
          position: absolute;
          width:2rem;
          height:2rem;
          border:none;
          border-radius:100%;
          //background:var(--background);
          //color:var(--text);
          transform: translate(-50%, -50%);
          cursor: pointer;
          transition: .25s cubic-bezier(0.25, 0, 0, 1);
          box-shadow:0 0 0rem -.25rem var(--background);
          &:hover {
            //background:var(--text);
            //color:var(--background);
            box-shadow:0 0 1rem -.25rem var(--background);
          }
          &:first-child:nth-last-child(1) { //If there is 1 child
            left:25%;
            top:25%;
          }
          &:first-child:nth-last-child(2),
          &:first-child:nth-last-child(2) ~ * { //If there are 2 children
            &:nth-child(1) {
              left:37.5%;
              top:18.75%;
            }
            &:nth-child(2) {
              left:18.75%;
              top:37.5%;
            }
          }
          &:first-child:nth-last-child(3),
          &:first-child:nth-last-child(3) ~ * { //If there are 3 children
            &:nth-child(1) {
              left:50%;
              top:15.625%;
            }
            &:nth-child(2) {
              left:25%;
              top:25%;
            }
            &:nth-child(3) {
              left:15.625%;
              top:50%;
            }
          }
          &:first-child:nth-last-child(4), //If there are 4 children, if first child is also 4th item from bottom get self, and
          &:first-child:nth-last-child(4) ~ * { //If there are 4 children, if first child is also 4th item from bottom get siblings
            &:nth-child(1) {
              left:62.5%;
              top:18.75%;
            }
            &:nth-child(2) {
              left:37.5%;
              top:18.75%;
            }
            &:nth-child(3) {
              left:18.75%;
              top:37.5%;
            }
            &:nth-child(4) {
              left:18.75%;
              top:62.5%;
            }
          }
        }
      }
      .container {
        position: absolute;
        width:100%;
        height:100%;
        border-radius:1rem;
        background:var(--background);
        color:var(--text);
      }
      &:hover .multi-button, .multi-button:focus-within { //Hover or a button inside is focused
        width:10rem;
        height:10rem;
        opacity: 1;
      }
    }
  }

  .active-tab {
    color: #6366F1 !important;
  }

}




$icon-size: 50px;
$main-color: #e9f1f4;
// STYLE TO WRAP UP THE DEMO
.search {
  display: flex;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translateX(-50%) translateY(-50%);
  * {
    outline: none;
    box-sizing: border-box;
  }
}

// SEARCH FIELD
.search__wrapper {
  position: relative;
}
.search__field {
  background: none;
  width: $icon-size;
  height: $icon-size;
  color: transparent;
  font-family: Lato, sans-serif;
  font-size: 12px;
  padding: .35em ($icon-size) .35em 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-bottom-color: #ccc;
    width: 50vw;
    color: #2b2b2b;
    cursor: default;
    ~ .search__icon {
      background-color: transparent;
      cursor: pointer;
      pointer-events: auto;
    }
  }
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: $icon-size;
  height: $icon-size;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

// FIELD LABELING
//.search__field::-webkit-input-placeholder {
//  position: relative;
//  top: 0;
//  left: 0;
//  -webkit-transition-property: top, color;
//  transition-property: top, color;
//  -webkit-transition-duration: .1s;
//  transition-duration: .1s;
//  -webkit-transform: translateZ(0);
//  transform: translateZ(0);
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  -webkit-perspective: 1000;
//  perspective: 1000;
//}
//.search__field:-moz-placeholder {
//  position: relative;
//  top: 0;
//  left: 0;
//  -webkit-transition-property: top, color;
//  transition-property: top, color;
//  -webkit-transition-duration: .1s;
//  transition-duration: .1s;
//  -webkit-transform: translateZ(0);
//  transform: translateZ(0);
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  -webkit-perspective: 1000;
//  perspective: 1000;
//}
//.search__field::-moz-placeholder {
//  position: relative;
//  top: 0;
//  left: 0;
//  -webkit-transition-property: top, color;
//  transition-property: top, color;
//  -webkit-transition-duration: .1s;
//  transition-duration: .1s;
//  -webkit-transform: translateZ(0);
//  transform: translateZ(0);
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  -webkit-perspective: 1000;
//  perspective: 1000;
//}
//.search__field:-ms-input-placeholder {
//  position: relative;
//  top: 0;
//  left: 0;
//  -webkit-transition-property: top, color;
//  transition-property: top, color;
//  -webkit-transition-duration: .1s;
//  transition-duration: .1s;
//  -webkit-transform: translateZ(0);
//  transform: translateZ(0);
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  -webkit-perspective: 1000;
//  perspective: 1000;
//}
//.search__field::-webkit-input-placeholder[style*=hidden] {
//  color: darken($main-color, 30%);
//  font-size: 12px;
//  font-weight: normal;
//  top: -(round($icon-size / 2.5));
//  opacity: 1;
//  visibility: visible !important;
//}
//.search__field:-moz-placeholder[style*=hidden] {
//  color: darken($main-color, 30%);
//  font-size: 12px;
//  font-weight: normal;
//  top: -(round($icon-size / 2.5));
//  opacity: 1;
//  visibility: visible !important;
//}
//.search__field::-moz-placeholder[style*=hidden] {
//  color: darken($main-color, 30%);
//  font-size: 12px;
//  top: -(round($icon-size / 2.5));
//  opacity: 1;
//  visibility: visible !important;
//}
//.search__field:-ms-input-placeholder[style*=hidden] {
//  color: darken($main-color, 30%);
//  font-size: 12px;
//  top: -(round($icon-size / 2.5));
//  opacity: 1;
//  visibility: visible !important;
//}
