<div class="layout-main-container p-3">
  <div class="layout-main">

    <router-outlet></router-outlet>

<!--    <div class="grid">-->
<!--      <div class="col-12">-->

<!--        <div class="flex align-items-center justify-content-between gap-3">-->

<!--          <div class="p-card flex-1" [routerLink]="'/admin/company'">-->
<!--            <div class="p-card-title text-center">-->
<!--              <span class="text-green-500">تعریف شرکت</span>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="p-card flex-1" [routerLink]="'/admin/sms'">-->
<!--            <div class="p-card-title text-center">-->
<!--              <span class="text-orange-500">سرویس دهنده پیامک</span>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

  </div>
</div>
