<div class="p-card p-4 shadow-2 mx-auto" style="width:800px;">

  <div class="grid">
    <div class="col-12 bg-bluegray-50 border-round mb-3">
      <div class="flex justify-content-between align-items-center">
        <h6 class="font-bold text-green-500 m-0">سند</h6>
      </div>
    </div>

    <!--    <div class="col-12">-->
    <!--      <p-divider type="solid" [style]="{'border-top':'1px solid #f7f7f7',}"/>-->
    <!--    </div>-->

  </div>

  <div class="grid">

    <div class="col-12 md:col-6">
      <div class="form-group">
        <label class="text-sm">عنوان سند</label>
        <span class="text-red-500 font-bold text- mr-1">*</span>
        <div class="field">
          <input
            pInputText
            type="text"
            id="title"
            name="title"
            class="p-fieldset w-full"
            placeholder="عنوان سند وارد نمایید"
            [(ngModel)]="manager.oneObject.title">
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="form-group">
        <label class="text-sm">کد سند</label>
        <span class="text-red-500 font-bold text- mr-1">*</span>
        <div class="field">
          <input pInputText type="text"
            id="code" name="code"
            (keypress)="allowOnlyEnglish($event, 'code')"
            class="p-fieldset w-full"
            placeholder="کد سند وارد نمایید"
            [(ngModel)]="manager.oneObject.name">
          <small class="p-error font-bold" *ngIf="isEnglishError['code']">
            فقط حروف انگلیسی مجاز می‌باشد
          </small>
        </div>
      </div>
    </div>

    <div class="col-12" >
      <p-fieldset [style]="{padding:'0px'}">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <span>ویژگی ها</span>
          </div>
        </ng-template>

        <div class="p-card shadow-none border-1 border-gray-200  grid mt-3" *ngFor="let prop of manager.oneObject.properties; let i = index; let first = first">
          <div class="col-12 flex justify-content-end gap-3">
            <i class="pi pi-trash bg-red-100 text-red-500 cursor-pointer p-2 border-round" (click)="removeProperties(i)" pTooltip="حذف"
                  tooltipPosition="top"></i>
            <i class="pi pi-plus bg-green-100 text-green-500 cursor-pointer p-2 border-round" (click)="addNewProperties()" *ngIf="first" pTooltip="جدید"
                  tooltipPosition="top"></i>
          </div>

          <div class="col-12 md:col-6">
            <div class="form-group">
              <label class="text-sm">عنوان</label>
              <span class="text-red-500 font-bold text- mr-1">*</span>
              <div class="field">
                <input
                  pInputText
                  type="text"
                  id="title"
                  name="title"
                  class="p-fieldset w-full"
                  placeholder="عنوان ویژگی وارد نمایید"
                  [(ngModel)]="prop.title">
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="form-group">
              <label class="text-sm">کلید ویژگی</label>
              <span class="text-red-500 font-bold text- mr-1">*</span>
              <div class="field">
                <input pInputText type="text"
                  (keypress)="allowOnlyEnglish($event, 'nameProperty' + i)"
                  [id]="'nameProperty' + i" [name]="'nameProperty' + i"
                  class="p-fieldset w-full"
                  placeholder="کلید ویژگی وارد نمایید"
                  [(ngModel)]="prop.name">
                <small class="p-error font-bold" *ngIf="isEnglishError['nameProperty' + i]">
                  فقط حروف انگلیسی مجاز می‌باشد
                </small>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="form-group">
              <label class="text-sm">نوع ویژگی</label>
              <span class="text-red-500 font-bold text- mr-1">*</span>
              <div class="field">
                <p-dropdown [style]="{'width':'100%'}"
                            name="propertyType"
                            class="w-full"
                            placeholder ="انتخاب ویژگی"
                            scrollHeight="250px"
                            display="chip"
                            optionLabel="title"
                            optionValue="value"
                            [(ngModel)]="prop.propertyType"
                            [options]="propertyOptions"
                            (onChange)="onChangeProperty($event)"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="form-group" *ngIf="prop.propertyType == propertyTypeEnum.Number">
              <label class="text-sm">مقدار پیشفرض</label>
              <div class="field" >
                <input
                  pInputText
                  type="text"
                  id="defaultValue "
                  name="defaultValue "
                  class="p-fieldset w-full"
                  placeholder="مقدار پیشفرض وارد نمایید"
                  [(ngModel)]="prop.defaultValue "
                  [pKeyFilter]="'int'">
              </div>
            </div>

            <div class="form-group" *ngIf="prop.propertyType == propertyTypeEnum.SingleSelect && hasTitleInParameters">
              <label class="text-sm">مقدار پیشفرض</label>
              <div class="field">
                <p-dropdown [style]="{'width':'100%'}"
                            name="propertyType"
                            class="w-full"
                            placeholder ="انتخاب ویژگی"
                            scrollHeight="250px"
                            display="chip"
                            optionLabel="title"
                            optionValue="title"
                            [showClear]="true"
                            [(ngModel)]="prop.defaultValue"
                            [options]="parameters"></p-dropdown>
              </div>
            </div>

            <div class="form-group" *ngIf="prop.propertyType == propertyTypeEnum.MultiSelect && hasTitleInParameters">
              <label class="text-sm">مقدار پیشفرض</label>
              <div class="field">
                <p-multiSelect
                  [styleClass]="'clear-icon'"
                  [options]="parameters"
                  [(ngModel)]="prop.value"
                  optionLabel="title"
                  optionValue="title"
                  class="mt-2"
                  display="chip"
                  [maxSelectedLabels]="20"
                  [style]="{'width':'100%'}"
                  placeholder="انتخاب ویژگی">
                </p-multiSelect>
              </div>
            </div>

            <div class="form-group" *ngIf="prop.propertyType == propertyTypeEnum.ShortString || prop.propertyType == propertyTypeEnum.LongString">
              <label class="text-sm">مقدار پیشفرض</label>
              <div class="field">
                <input
                  pInputText
                  type="text"
                  id="SLDefaultValue"
                  name="SLDefaultValue"
                  class="p-fieldset w-full"
                  placeholder="مقدار پیشفرض وارد نمایید"
                  [(ngModel)]="prop.defaultValue ">
              </div>
            </div>

            <div class="form-group" *ngIf="prop.propertyType == propertyTypeEnum.Date">
              <label class="text-sm">مقدار پیشفرض</label>
              <div class="field relative">
                <ng-persian-datepicker
                  [dateInitValue]="false"
                  [style]="{'width':'220px'}"
                  (dateOnSelect)="selectStartDate($event)"
                  (dateOnInit)="initialStartDatePicker($event)"
                  [dateGregorianFormat]="'YYYY-MM-DD '"
                  [dateFormat]="'YYYY-MM-DD '">
                  <input [formControl]="startDateTimeControl" id="startDate" name="startDate" class="font-bold w-full" pInputText type="text" autocomplete="off"/>
                </ng-persian-datepicker>
              </div>
            </div>

            <div class="form-group" *ngIf="prop.propertyType == propertyTypeEnum.Bool">
              <label class="text-sm">مقدار پیشفرض</label>
              <div class="field">
                <p-inputSwitch [(ngModel)]="prop.defaultValue"/>
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="prop.propertyType == propertyTypeEnum.SingleSelect || prop.propertyType == propertyTypeEnum.MultiSelect">
            <div class="form-group" >
              <label class="text-sm" >گزینه ها</label>
              <span class="text-red-500 font-bold text- mr-1">*</span>

              <div class="field flex align-items-end gap-3 pt-0" *ngFor="let parameter of parameters; let i = index; let isLast = last">
                <div class="field m-0 flex flex-column">
                  <input
                    [style]="{'width':'200px'}"
                    [(ngModel)]="parameter.title"
                    pInputText
                    type="text"
                    [id]="'descriptor-'+i"
                    [name]="'descriptor-'+i"
                    placeholder="نام گزینه را وارد نمایید."
                    class="p-fieldset">
                </div>

                <div class="field m-0 flex gap-2">
                  <button [disabled]="i == 0" pButton type="button" style="width:25px; height:25px"
                          class="p-button-danger p-0 border-round-3xl pi pi-minus text-sm" (click)="removeParamenter(i)"></button>
                  <button pButton type="button" style="width:25px; height:25px"
                          class="p-button-success p-0 border-round-3xl pi pi-plus flex justify-content-center"
                          (click)="addNewParameter()"></button>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="prop.propertyType == propertyTypeEnum.Document">
            <div class="form-group" >
              <label class="text-sm" >گزینه ها</label>
              <span class="text-red-500 font-bold text- mr-1">*</span>
              <p-dropdown [style]="{'width':'100%'}"
                          name="propertyType"
                          class="w-full"
                          placeholder ="انتخاب ویژگی"
                          scrollHeight="250px"
                          display="chip"
                          optionLabel="title"
                          optionValue="id"
                          [(ngModel)]="prop.descriptor"
                          [options]="docData"></p-dropdown>
            </div>
          </div>


          <div class="col-12 md:col-4">
            <div class="form-group ">
              <label class="block mb-2 text-900">اجباری</label>
              <div class="field">
                <p-inputSwitch [(ngModel)]="prop.isMandatory"/>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-4">
            <div class="form-group ">
              <label class="block mb-2 text-900">نمایش در لیست</label>
              <div class="field">
                <p-inputSwitch [(ngModel)]="prop.showInList"/>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-4">
            <div class="form-group ">
              <label class="block mb-2 text-900">کپشن</label>
              <div class="field">
                <p-inputSwitch [(ngModel)]="prop.isCaption" (onChange)="onCaptionChange(i)"/>
              </div>
            </div>
          </div>

        </div>


      </p-fieldset>
    </div>





    <div class="col-12">
      <div class="mt-5 text-left">
        <button
          [disabled]="manager.isSending"
          class="mx-3 p-button-success"
          pButton
          label="ذخیره "
          (click)="manager.save()"
          icon="pi pi-save mx-2"></button>

        <button pButton
                label="انصراف"
                class="p-button-danger"
                icon="pi pi-sign-out mx-2"
                (click)="manager.cancel()"></button>
      </div>
    </div>

  </div>
</div>

