.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.25rem 1rem 2rem 1rem;
    transition: margin-left $transitionDuration;
  //background: #F5EEDC;
  background: #f7f7f7;
}

.layout-main {
    flex: 1 1 auto;
}
