<div style="direction:rtl">
    <div class="layout-wrapper" [ngClass]="containerClass">
        <app-topbar></app-topbar>
        <div class="layout-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="layout-main-container">
            <div class="layout-main">
<!--                <app-loading></app-loading>-->
                <router-outlet></router-outlet>
            </div>
<!--            <app-footer></app-footer>-->
        </div>
<!--        <app-base-event-step></app-base-event-step>-->
<!--        <div class="layout-mask"></div>-->
    </div>
<!--    <p-toast></p-toast>-->
    <p-confirmDialog ></p-confirmDialog>
</div>
