.active-filter
{
  background-color: #E3F2FD;
}




.customOverlay{
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  width: 300px;
  padding: 8px;
  border-radius: 3px;
  background-color: white;
}