<div class="p-card p-4 shadow-2 mx-auto" style="width:800px; max-height:80vh">

  <div class="grid">

    <div class="col-12 bg-bluegray-50 border-round mb-3">
      <div class="flex justify-content-between align-items-center">
        <h6 class="font-bold text-green-500 m-0">{{ isId ? 'ویرایش شیوه آشنایی' : 'شیوه آشنایی جدید' }}</h6>
      </div>
    </div>

<!--    <div class="col-12">-->
<!--      <p-divider type="solid" [style]="{'border-top':'1px solid #f7f7f7',}"/>-->
<!--    </div>-->


    <div class="col-12">
      <div class="form-group">
        <label class="text-sm" for="name">عنوان </label>
        <span class="text-red-500 font-bold text- mr-1">*</span>
        <div class="field">
          <input
            pInputText
            type="text"
            id="title"
            name="title"
            class="p-fieldset w-20rem"
            placeholder="عنوان شیوه آشنایی وارد نمایید"
            [(ngModel)]="manager.oneObject.title">
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="mt-5 text-left">
        <button
          class="mx-3 p-button-success"
          pButton
          label="ذخیره "
          (click)="manager.save()"
          icon="pi pi-save mx-2">
        </button>
        <button pButton
                label="انصراف"
                class="p-button-danger"
                icon="pi pi-sign-out mx-2"
                (click)="manager.cancel()"></button>
      </div>
    </div>

  </div>

</div>

