<div class="p-card p-4 shadow-2 mx-auto" style="width:800px;">

  <div class="mb-5">
    <button
      class="mx-3 p-button-success"
      pButton
      label="ذخیره "
      (click)="onSaveFilter()"
      icon="pi pi-save mx-2">
    </button>
    <button pButton
            label="انصراف"
            class="p-button-danger"
            icon="pi pi-sign-out mx-2"
            (click)="manager.cancel()"></button>
  </div>

  <div class="grid">

    <div class="col-12 md:col-6">
      <label class="text-sm">عنوان</label>
      <div class="field">
        <input
          [style]="{'width':'100%'}"
          [(ngModel)]="filterModel.title"
          pInputText
          type="text"
          id="title"
          name="title"
          class="p-fieldset">
      </div>
    </div>

    <div class="col-12 md:col-6">
      <label class="text-sm">ماهیت</label>
      <div class="field">
        <p-dropdown
          [styleClass]="'clear-icon'"
          [options]="entitiesData"
          [(ngModel)]="filterModel.entity"
          [style]="{'width':'100%'}"
          optionLabel="title"
          optionValue="entity"
          placeholder="انتخاب ماهیت"
          (onChange)="onChangeDrp()">
        </p-dropdown>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="text-sm">توضیحات</label>
        <div class="field">
          <textarea
            [style]="{'width':'100%'}"
            [(ngModel)]="filterModel.description"
            rows="5"
            id="description"
            name="description"
            pInputTextarea
            class="p-fieldset">
          </textarea>
        </div>
      </div>
    </div>

    <div class="col-12">
      <p-divider styleClass="px-5 py-2 mb-0" class="w-full divider flex gap-1" align="center" type="dashed">
        <div class="flex align-items-center gap-1">
          <b class="px-2 text-sm font-bold">پارامترها</b>
          <button pButton type="button" style="width:25px; height:25px"
                  class="p-button-success p-0 border-round-3xl pi pi-plus flex justify-content-center"
                  (click)="addNewParameter()"></button>
        </div>
      </p-divider>
    </div>


    <div class="col-12 flex align-items-end gap-3 py-0">
      <div class="field m-0 px-1" style="width:200px">
        <label class="text-sm m-0">نام</label>
      </div>
      <div class="field m-0 px-1" style="width:200px">
        <label class="text-sm m-0">عنوان</label>
      </div>
    </div>
    <div class="col-12 flex align-items-end gap-3 pt-0" *ngFor="let parameter of parameters; let i = index; let isLast = last">
      <div class="field m-0">
<!--        <label class="text-sm">نام</label>-->
        <div class="field m-0 flex flex-column">
          <input
            (keypress)="allowOnlyEnglish($event,i)"
            [style]="{'width':'200px'}"
            [(ngModel)]="parameter.name"
            pInputText
            type="text"
            [id]="'name-'+i"
            [name]="'name-'+i"
            placeholder="نام پارامتر را وارد نمایید."
            class="p-fieldset">
          <small class="p-error" *ngIf="parameter.isErrEng">
            فقط حروف انگلیسی مجاز می‌باشد
          </small>
        </div>
      </div>
      <div class="field m-0">
<!--        <label class="text-sm">عنوان</label>-->
        <div class="field m-0">
          <input
            [style]="{'width':'200px'}"
            [(ngModel)]="parameter.label"
            pInputText
            type="text"
            id="label"
            name="label"
            placeholder="عنوان پارامتر را وارد نمایید."
            class="p-fieldset">
        </div>
      </div>
      <div class="field m-0 flex gap-2">
        <button [disabled]="i == 0" pButton type="button" style="width:25px; height:25px"
                class="p-button-danger p-0 border-round-3xl pi pi-minus text-sm" (click)="removeParamenter(i)"></button>

      </div>
    </div>

    <div class="col-12" *ngIf="filterModel.entity">
      <p-divider align="center" type="dotted">
        <div class="flex align-items-center gap-1">
<!--          <b>فیلتر ها</b>-->
<!--          <button pButton pRipple label="افزودن" icon="pi pi-plus" class="p-button-success p-mr-2"-->
<!--                  (click)="addNewRowFilter()"></button>-->
          <b class="px-2 text-sm font-bold">فیلترها</b>
          <i pButton class="border-round-3xl p-button-success pi pi-plus text-sm p-0 flex justify-content-center"
             style="width:25px; height:25px" (click)="onNewFilter()"></i>
<!--            <p-dropdown-->
<!--              class="mt-2"-->
<!--              [style]="{'width':'250px'}"-->
<!--              [options]="dropdownOptions"-->
<!--              optionLabel="label"-->
<!--              optionValue="value"-->
<!--              placeholder="ویژگی را انتخاب کنید"-->
<!--              (onChange)="onFieldSelected($event.value)">-->
<!--            </p-dropdown>-->

        </div>
      </p-divider>
    </div>

    <div class="col-12" *ngIf="filterModel.entity">
<!--      <p-fieldset >-->
<!--        <ng-template pTemplate="header">-->
<!--          <div class="flex align-items-center gap-1">-->
<!--            <p>فیلتر ها</p>-->
<!--          </div>-->
<!--        </ng-template>-->

        <div>
          <div class="flex gap-2 my-2">
          <div *ngFor="let option of logicOptions">
            <p-radioButton
              name="logic"
              [value]="option.value"
              [(ngModel)]="filterGroupLogic"
              inputId="{{option.value}}">
            </p-radioButton>
            <label for="{{option.value}}" class="ml-2">{{option.label}}</label>
          </div>
        </div>
        </div>

        <div class="mb-3" *ngFor="let filter of filters; let fi = index">

          <p-fieldset>

            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <!-- اگر هنوز فیلد انتخاب نشده باشد، Dropdown نمایش بده -->
                <ng-container *ngIf="!filter.selected; else selectedHeader">
                  <p-dropdown
                    [options]="dropdownOptions"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="ویژگی را انتخاب کنید"
                    (onChange)="onFieldSelected($event.value, fi)">
                  </p-dropdown>
                </ng-container>

                <!-- وقتی فیلد انتخاب شد، عنوان + دکمه حذف نمایش داده شود -->
                <ng-template #selectedHeader>
                  <div class="flex align-items-center gap-1">
                    <i (click)="deleteFieldset(fi)" class="pi pi-times text-red-500 cursor-pointer font-bold text-sm"></i>
                    <p class="m-0">{{ filter.label || filter.field }}</p>
                  </div>
                </ng-template>
              </div>
<!--              <div class="flex align-items-center gap-1">-->
<!--                <p class="m-0 flex align-items-center"><i (click)="deleteFieldset(fi)" class="pi pi-times text-red-500 cursor-pointer font-bold text-sm"></i></p>-->
<!--                <p>{{filter.label}}</p>-->
<!--              </div>-->
            </ng-template>

            <div class="flex flex-wrap gap-3 mb-4">
              <div class="flex align-items-center">
                <p-radioButton
                  [name]="'radiobtn-' + fi"
                  value="and"
                  [(ngModel)]="radiobtn[fi]"
                  (onClick)="onRadioChange(filter, 'and')"
                  inputId="or-{{fi}}" />
                <label for="or-{{fi}}" class="ml-2">همه شروط</label>
              </div>
              <div class="flex align-items-center">
                <p-radioButton
                  [name]="'radiobtn-' + fi"
                  value="or"
                  [(ngModel)]="radiobtn[fi]"
                  (onClick)="onRadioChange(filter, 'or')"
                  inputId="and-{{fi}}" />
                <label for="and-{{fi}}" class="ml-2">یکی از شروط</label>
              </div>
            </div>

            <div class="grid" >
              <div class="col-12" *ngFor="let item of filter.selectedFilter let ci = index" >
                <div class="flex align-items-end gap-2">

                  <ng-container *ngIf="filter.type !== 'object' && filter.type !== 'array'">
                    <ng-container *ngFor="let fp of item.filterParameter; let fpi = index">
                      <ng-container *ngFor="let fg of fp.filter; let fgi = index">
                        <ng-container *ngFor="let ff of fg.filters; let ffi = index">
                          <ng-container *ngFor="let cond of ff.conditions; let ci2 = index">

                            <!-- انتخاب عملگر -->
                            <ng-container *ngIf="filter.type === 'string'">
                              <p-dropdown
                                [options]="[
                                { label: 'برابر', value: 'equals' },
                                { label: 'شامل', value: 'contains' },
                                { label: 'آغاز شود با', value: 'startsWith' },
                                { label: 'پایان یابد با', value: 'endsWith' }
                              ]"
                                [style]="{'width':'200px'}"
                                [(ngModel)]="cond.operator"
                                placeholder="عملگر انتخاب کنید">
                              </p-dropdown>
                            </ng-container>
                            <ng-container *ngIf="filter.type === 'number'">
                              <p-dropdown
                                [options]="[
                                { label: 'برابر با', value: 'equals' },
                                { label: 'نابرابر با', value: 'notEquals' },
                                { label: 'بزرگ‌تر از', value: 'gt' },
                                { label: 'بزرگ‌تر یا مساوی', value: 'gte' },
                                { label: 'کوچک‌تر از', value: 'lt' },
                                { label: 'کوچک‌تر یا مساوی', value: 'lte' }
                              ]"
                                [style]="{'width':'200px'}"
                                [(ngModel)]="cond.operator"
                                placeholder="عملگر انتخاب کنید">
                              </p-dropdown>
                            </ng-container>
                            <ng-container *ngIf="filter.type === 'boolean'">
                              <p-dropdown
                                [options]="[
                                { label: 'برابر با', value: 'equals' },
                                { label: 'مخالف با', value: 'notEquals' },
                              ]"
                                [style]="{'width':'200px'}"
                                [(ngModel)]="cond.operator"
                                placeholder="عملگر انتخاب کنید">
                              </p-dropdown>
                            </ng-container>
                            <ng-container *ngIf="filter.type === 'datetime'">
                              <p-dropdown
                                [options]="[
                                { label: 'برابر با', value: 'dateIs' },
                                { label: 'قبل از', value: 'dateBefore' },
                                { label: 'بعد از', value: 'dateAfter' },
                                { label: 'نابرابر با', value: 'dateIsNot' }
                              ]"
                                [style]="{'width':'200px'}"
                                [(ngModel)]="cond.operator"
                                placeholder="عملگر انتخاب کنید">
                              </p-dropdown>
                            </ng-container>

                            <!-- مقدار -->
                            <input pInputText *ngIf="filter.type !== 'datetime'" [(ngModel)]="cond.value" [disabled]="!!cond.parameter" placeholder="مقدار" />

                            <div *ngIf="filter.type === 'datetime'" style="width:150px; height:45px"
                                 class="border-round border-1 border-solid border-gray-300 flex align-items-center justify-content-between px-2"
                                 (click)="overlayPanelToggle(op, $event, cond)">
                                    {{cond.value ? cond.value : 'مقدار'}}
                                    <i class="pi pi-times text-red-500" *ngIf="cond.value" (click)="removeValue(cond)"></i>
                            </div>

<!--                            <input pInputText *ngIf="filter.type === 'datetime'" (click)="op.toggle($event)"-->
<!--                                   [(ngModel)]="cond.value" [disabled]="!!cond.parameter" placeholder="مقدار" />-->
                            <p-overlayPanel #op>
                              <div class="grid">
                                <div class="col-12">
                                  <p-tabView (onChange)="onChangeTab($event)">
                                    <p-tabPanel>
                                      <ng-template pTemplate="header" >
                                        <i class="ml-2 pi pi-book"></i>
                                        <span>تاریخ</span>
                                      </ng-template>
                                      <div class="grid">
                                        <div class="col-12 md:col-12">
                                          <div class="datePickerContainer relative">
                                            <label class="text-right font-bold mb-2" for="dateTime">تاریخ</label>
                                            <ng-persian-datepicker
                                              [style]="{'width':'220px'}"
                                              [dateInitValue]="false"
                                              (dateOnSelect)="selectStartDateTime($event)"
                                              [dateGregorianFormat]="'YYYY-MM-DD '"
                                              [dateFormat]="'YYYY-MM-DD '">
                                              <input [formControl]="dateTimeControl" id="dateTime" name="dateTime" class="font-bold w-full" pInputText type="text" autocomplete="off"/>
                                            </ng-persian-datepicker>
                                          </div>
                                        </div>

                                        <div class="col-12 flex justify-content-end gap-3">
                                          <button type="button" pButton pRipple class="p-button-success w-6rem" label="ثبت"
                                           (click)="initDateTime(cond,op)"></button>
                                        </div>

                                      </div>
                                    </p-tabPanel>

                                    <p-tabPanel>
                                      <ng-template pTemplate="header" >
                                        <i class="ml-2 pi pi-book"></i>
                                        <span>روز شمار</span>
                                      </ng-template>

                                      <div class="grid">
                                        <div class="col-12">
                                          <div class="flex align-items-center gap-3" >
                                            <!-- بخش شمارنده -->
                                            <div class="flex align-items-center gap-1">
                                              <button class="btn-counter" (click)="decrementAction(ci2)">-</button>
<!--                                              <span class="value-counter">{{ timerAction.get(ci2 + '')?.count || 1 }}</span>-->
                                              <span class="value-counter">{{ timerAction[ci2 + '']?.count || 1 }}</span>
                                              <button class="btn-counter"  (click)="incrementAction(ci2)">+</button>
                                            </div>

                                            <!-- بخش انتخاب واحد -->
                                            <div class="flex align-items-center gap-1">
                                              <button class="btn-counter"  (click)="prevUnitAction(ci2)"> < </button>
<!--                                              <span class="value-counter">{{ units[(timerAction.get(ci2 + '')?.unitIndex) || 0] }}</span>-->
                                              <span class="value-counter">{{ units[(timerAction[ci2 + '']?.unitIndex) || 0] }}</span>
                                              <button class="btn-counter"  (click)="nextUnitAction(ci2)"> > </button>
                                            </div>
                                          </div>

                                        </div>

                                        <div class="col-12 flex justify-content-end gap-3">
                                          <button type="button" pButton pRipple class="p-button-success w-6rem" label="ثبت"
                                           (click)="initDayCounter(cond,op)"></button>
                                        </div>

                                      </div>

                                    </p-tabPanel>

                                  </p-tabView>
                                </div>
                              </div>
                            </p-overlayPanel>



                            <!-- انتخاب پارامتر -->
                            <p-dropdown
                              class="mt-2"
                              [styleClass]="'clear-icon'"
                              [options]="availableParameters"
                              [(ngModel)]="cond.parameter"
                              [style]="{'width':'100%'}"
                              [disabled]="!!cond.value"
                              [showClear]="!!cond.parameter"
                              optionLabel="label"
                              optionValue="name"
                              placeholder="پارامتر انتخاب نمایید">
                            </p-dropdown>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>


                  <p-dropdown
                    *ngIf="filter.type === 'array'"
                    [options]="[{ label: 'حدقل دارای یک', value: 'any' }, { label: 'تمامی عناصر', value: 'all' }, ]"
                    [style]="{'width':'200px'}"
                    [(ngModel)]="modeFilter[ci]"
                    placeholder="عملگر انتخاب کنید">
                  </p-dropdown>

                  <!-- [(ngModel)]="filter.selectedFilter[ci]""-->
                  <p-dropdown
                    *ngIf="filter.type === 'object' || filter.type === 'array'"
                    [options]="getFilterParameterOptions(filter)"
                    optionLabel="label"
                    [(ngModel)]="filter.selectedFilter[ci]"
                    [style]="{'width':'200px'}"
                    placeholder="فیلتر انتخاب کنید"
                    (onChange)="onSelecteFilter($event, fi, ci)">
                  </p-dropdown>



                  <!-- دکمه‌ها -->
                  <button pButton type="button" class="p-button-danger pi pi-minus p-0 text-sm border-round-3xl" style="width:25px; height:25px" (click)="removeCondition(fi ,ci)" [disabled]="filter.selectedFilter.length === 1"></button>
                  <button pButton type="button" class="p-button-success pi pi-plus p-0 text-sm border-round-3xl" style="width:25px; height:25px" (click)="addCondition(fi)"></button>
                </div>
              </div>
            </div>

          </p-fieldset>
        </div>

<!--      </p-fieldset>-->


    </div>

  </div>
</div>

<!--************************** begin Comment modal *************************************-->
<p-dialog
  [styleClass]="'modal-small'"
  [style]="{direction:'rtl'}"
  [(visible)]="showFilterModal"
  [appendTo]="'body'"
  header="ثبت نظر"
  [modal]="true">

  <div class="grid">
    <div class="col-6" *ngFor="let param of dialogParameters; let pi = index">
      <p-radioButton
        name="paramRadio"
        inputId="radioValue"
        value="value"
        label="مقدار فیلتر"
        [(ngModel)]="selectedParamRadio"
        (onClick)="onRadioSelect('value')">
      </p-radioButton>

      <div class="form-group mt-3">
        <label class="font-bold text-900" for="name">{{ param.label }}</label>
        <div class="field mt-2">
          <input
            pInputText
            type="text"
            id="name"
            name="name"
            placeholder="مقدار را وارد نمایید"
            class="p-fieldset"
            [style]="{'width':'250px'}"
            [disabled]="selectedParamRadio && selectedParamRadio !== 'value'"
            [(ngModel)]="param.value">
        </div>
      </div>
    </div>

    <div class="col-6">

      <p-radioButton
        name="paramRadio"
        inputId="radioParameter"
        value="parameter"
        label="مقدار پارامتر"
        [(ngModel)]="selectedParamRadio"
        (onClick)="onRadioSelect('parameter')">
      </p-radioButton>

      <div class="form-group mt-3">
        <label class="font-bold text-900" for="name">پارامتر</label>
        <div class="field mt-2">
          <!-- انتخاب پارامتر -->
          <p-dropdown
            class="w-full"
            [style]="{'width':'100%'}"
            [options]="parameterOptionsDialog"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="selectedParameterDialog"
            [appendTo]="'body'"
            [disabled]="selectedParamRadio && selectedParamRadio !== 'parameter'"
            placeholder="انتخاب پارامتر">
          </p-dropdown>
        </div>
      </div>
    </div>

  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="ثبت"
      class="p-button-success p-mr-2"
      (click)="saveModal()"
      ></button>

    <button
      pButton
      pRipple
      label="انصراف"
      class="p-button-danger p-mr-2"
      (click)="cancelModal()"
    ></button>
  </ng-template>

</p-dialog>
<!--************************** end Comment modal *************************************-->
