//#main{
//    width:100vw;
//    height:100vh;
//}
//#main::before{
//    content:'';
//    background: url("/assets/images/back.jpg")  no-repeat;
//    background-size:cover;
//    opacity:0.7;
//    position:absolute;
//    width:100%;
//    height:100%;
//    top:0;
//    left:0;
//    z-index:-1;
//}
//
//header{
//    height:10vh;
//    background: #f8f5f5;
//}
//
//footer
//{
//    height:30vh;
//    background: #f6ffe9;
//}
//
//.footer-item
//{
//    flex-grow:1;
//}
//section{
//    height:60vh;
//
//}
//.step{
//    width:15rem;
//    height:15rem;
//    margin:5px 15px;
//    display:flex;
//    flex-direction:column;
//    justify-content: center;
//    align-items: center;
//    color:white;
//
//    span{
//        margin:25px 0;
//    }
//}
//
//
//
//.step-item{
//    font-size:4rem;
//}
//
//
//

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: #f7f7f7;
}

//.main::before{
//    content:'';
//    background: url("/assets/images/back2.jpg")  no-repeat;
//    background-size:cover;
//    opacity:0.5;
//    position:absolute;
//    width:100%;
//    height:100%;
//    top:0;
//    left:0;
//    z-index:-1;
//}

.logo {
    position: absolute;
    top: 50px; /* مخفی کردن لوگو از بالای صفحه */
    left: 0; /* تنظیم موقعیت افقی لوگو در حالت اولیه */
    /* width: 25vw; */
    animation: slideFromSide 2s ease-in-out forwards; /* اعمال انیمیشن با نام slideFromSide */
}

@keyframes slideFromSide {
    0% {
        left: -100px; /* مخفی کردن لوگو از یک طرف صفحه */
    }
    100% {
        left: 50%; /* حرکت لوگو به وسط صفحه */
        transform: translateX(-50%);
    }
}

//@keyframes slideFromRightSide {
//    0% {
//        bottom: 0; /* مخفی کردن لوگو از یک طرف صفحه */
//    }
//    100% {
//        bottom: calc(100vh - 350px); /* حرکت لوگو به وسط صفحه */
//        transform: translateX(-50%);
//    }
//}

.enter-btn{
    position: absolute;
    left: calc((100vw - 250px)/2);
    width:250px;
    height:100px;
    bottom: calc(100vh - 500px); /* تنظیم موقعیت افقی لوگو در حالت اولیه */
    //animation: slideFromRightSide 2s ease-in-out forwards; /* اعمال انیمیشن با نام slideFromSide */

}

.captcha{
  //position: relative;
  //top: -100px;
  //width:300px;
  //height:50px;
  //bottom: calc(100vh - 500px); /* تنظیم موقعیت افقی لوگو در حالت اولیه */
  //animation: slideFromRightSide 2s ease-in-out forwards; /* اعمال انیمیشن با نام slideFromSide */

}

.panel{
  background: rgb(137 137 140 / 40%);
  /* opacity: 0.6; */
  width: 400px;
  height: 200px;
  min-width: 250px;
  /* background-size: cover; */
  /* position: absolute; */
  z-index: 0;
  bottom: calc(100vh - 500px);
  left: calc((100vw - 400px) / 2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel::before{
  //content:'';
  //background: #89898c;
  //opacity:0.6;
  //width:400px;
  //height:200px;
  //min-width:250px;
  //background-size:cover;
  //position:absolute;
  //z-index:0;
  //bottom: calc(100vh - 500px);
  //left: calc((100vw - 400px)/2);
  //margin:auto;
}

.btn-getKey{
  //position: relative;
  //top: -75px;
  width:300px;
}
