/*.loading-overlay {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  background: rgba(255, 255, 255, 0.8);*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  z-index: 9999;*/
/*}*/

/*.spinner {*/
/*  border: 8px solid #f3f3f3;*/
/*  border-top: 8px solid #3498db;*/
/*  border-radius: 50%;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  animation: spin 2s linear infinite;*/
/*}*/

/*@keyframes spin {*/
/*  0% { transform: rotate(0deg); }*/
/*  100% { transform: rotate(360deg); }*/
/*}*/

//.loading-state {
//  position: fixed;
//  top: 0;
//  left: -220px;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(0, 0, 0, 0.3);
//  z-index: 9999;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//.loading {
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//  border: 10px solid #ddd;
//  border-top-color: orange;
//  animation: loading 1s linear infinite;
//}

/////////////////////// begin page loading ////////////////////
.page-loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99999;

  .page-loading-logo {
  width: 200px;
  animation: pageLoadingAnime 200ms ease-in-out;

  @keyframes pageLoadingAnime {
    0% {
      opacity: 0;
    }

    50% {
      opacity: .5;
    }

    100% {
      opacity: 1;
    }
  }
}

  .page-loading-gif {
      width: 55px;
    }
}

.glass {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(255, 255, 255, 10%);
  backdrop-filter: blur(2px);

  @-moz-document url-prefix() {
    background-color: rgba(255, 255, 255, 0.7);

    &::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       filter: blur(10px);
       z-index: -1;
     }
  }

}

/////////////////////// end page loading ////////////////////
/* HTML: <div class="loader"></div> */
.loader {
  width: 100px; /* Increased width */
  aspect-ratio: 1; /* Keeps the square aspect ratio */
  --c:no-repeat linear-gradient(#046D8B 0 0);
  background:
    var(--c) 0 60px, /* Adjust for larger loader */
    var(--c) right 30px bottom 30px,
    var(--c) right 30px top 30px,
    var(--c) 30px 30px,
    var(--c) 30px 100%,
    var(--c) 100% 100%,
    var(--c) 100% 0,
    var(--c) 0 0;
  animation: l7 1.5s infinite alternate;
}
@keyframes l7 {
  0%    {background-size: 0 8px, 8px 0, 0 8px, 8px 0, 0 8px, 8px 0, 0 8px, 8px 0;}
  12.5% {background-size: 80px 8px, 8px 0, 0 8px, 8px 0, 0 8px, 8px 0, 0 8px, 8px 0;}
  25%   {background-size: 80px 8px, 8px 40px, 0 8px, 8px 0, 0 8px, 8px 0, 0 8px, 8px 0;}
  37.5% {background-size: 80px 8px, 8px 40px, 40px 8px, 8px 0, 0 8px, 8px 0, 0 8px, 8px 0;}
  50%   {background-size: 80px 8px, 8px 40px, 40px 8px, 8px 80px, 0 8px, 8px 0, 0 8px, 8px 0;}
  62.5% {background-size: 80px 8px, 8px 40px, 40px 8px, 8px 80px, 80px 8px, 8px 0, 0 8px, 8px 0;}
  75%   {background-size: 80px 8px, 8px 40px, 40px 8px, 8px 80px, 80px 8px, 8px 100%, 0 8px, 8px 0;}
  87.5% {background-size: 80px 8px, 8px 40px, 40px 8px, 8px 80px, 80px 8px, 8px 100%, 100% 8px, 8px 0;}
  95%,
  100%  {background-size: 80px 8px, 8px 40px, 40px 8px, 8px 80px, 80px 8px, 8px 100%, 100% 8px, 8px 80px;}
}


