<div class="p-card mx-auto max-w-60rem">
  <div class="grid">
    <div class="col-12">

      <div class="overflow-x-auto p-2">
        <table class="w-full border-collapse">
          <tbody>
          <tr class="flex hover:bg-gray-50 mb-1" *ngFor="let event of events">
            <td class="flex align-items-center p-3 w-15rem border-1 border-gray-300"
                style="border-top-right-radius: 7px; border-bottom-right-radius: 7px;">
              <span>{{event.title}}</span>
            </td>
            <td class="flex-1 p-3 border-1 border-gray-300 border-right-none"
                style="border-top-left-radius: 7px; border-bottom-left-radius: 7px;">
              <div class="flex flex-wrap align-items-center gap-2">
                <button pButton pRipple class="p-button-success pi pi-plus p-2"
                        pTooltip="اکشن جدید" tooltipPosition="top"
                        (click)="openEventModal(event,'new')"></button>
                <!-- لیست اکشن ها -->
                <span *ngFor="let action of event.actions"
                  class="action-chip flex align-items-center text-sm border-round p-2 cursor-pointer"
                  [class]="action.type === StepEventActionType.SendSms ? 'bg-green-100 text-green-600' :
                           action.type === StepEventActionType.CreateWorkItem ? 'bg-yellow-100 text-yellow-600' :
                           action.type === StepEventActionType.ChangeStep ? 'bg-pink-100 text-pink-600': 'bg-teal-100 text-teal-500'">

                    <span (click)="openEventModal(event,'edit',action)" class="flex align-items-center gap-1">
                      <i [class]="action.type === StepEventActionType.SendSms ? 'pi pi-envelope' :
                                  StepEventActionType.CreateWorkItem ? 'pi pi-briefcase' :
                                  StepEventActionType.ChangeStep ? 'pi pi-arrow-right-arrow-left' : 'pi pi-link' "></i>
                      {{StepEventActionTypeEnum2LabelMapping[action.type]}}
                    </span>
                  <i class="pi pi-trash text-red-500 text-sm mr-2 " (click)="removeAction(action.eventId)"></i>
                </span>
              </div>

            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>


<!--    <div class="col-12">-->

<!--      <p-tabView (onChange)="onStepChange($event)">-->
<!--        <p-tabPanel [header]="step.title"  *ngFor="let step of steps; let stepIndex = index">-->
<!--          <div class="grid">-->
<!--            <div class="col-12">-->

<!--              <div class="popup flex-container">-->
<!--                <div class="tabs">-->
<!--                  <div class="event-tab py-4 z-5 cursor-pointer label-hover" #eventTab-->
<!--                       *ngFor="let event of step.events; let i = index" (click)="selectEvent(step, i)">-->
<!--                    <input type="radio"-->
<!--                      [id]="'tab' + stepIndex + '_' + i"-->
<!--                      [name]="'tab' + stepIndex"-->
<!--                      [checked]="i === selectedEventIndex">-->
<!--                    <label class="event-title" [for]="'tab' + stepIndex + '_' + i">{{ event.title }}</label>-->
<!--                  </div>-->

<!--                  <div class="marker" [style.transform]="'translateY(' + markerY + ')'">-->
<!--                    <div id="top"></div>-->
<!--                    <div id="bottom"></div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="event-content">-->
<!--                  &lt;!&ndash; event ها &ndash;&gt;-->
<!--                  <div *ngIf="step.events[step.selectedEventIndex] as event">-->
<!--                    <h3>{{ event.title }}</h3>-->

<!--                    <div class="p-card p-4">-->
<!--                      <div class="flex flex-column">-->
<!--                        <div class="flex justify-content-end">-->
<!--                          <button type="button" pButton pRipple class="p-button-success"-->
<!--                                  label="اکشن جدید" icon="pi pi-plus mx-2" (click)="addActionCard(event)"></button>-->
<!--                          <button type="button" pButton pRipple class="p-button-success mx-2"-->
<!--                                  label="ذخیره" icon="pi pi-save mx-2" (click)="saveCurrentEvent(step)"></button>-->
<!--                        </div>-->

<!--                        <div class="grid">-->
<!--                          <div class="col-12 text-center" *ngIf="!event.actions || event.actions.length <= 0">-->
<!--                            <img src="assets/images/Frame3.png" class="cursor-pointer" style="width:240px" (click)="addActionCard(event)">-->
<!--                            <div class="block text-teal-600">-->
<!--                              <p class="m-0 text-lg font-bold">بزن بریم اکشن جدید بسازیم...</p>-->
<!--                            </div>-->
<!--                          </div>-->

<!--                          <div class="col-12 p-3 border-round surface-100 mt-4" *ngFor="let action of event.actions; let ai = index">-->

<!--                            <div class="flex justify-content-between mb-3">-->
<!--                              <p-dropdown-->
<!--                                [options]="options"-->
<!--                                optionLabel="title"-->
<!--                                optionValue="value"-->
<!--                                [(ngModel)]="action.type"-->
<!--                                (onChange)="onchangeAction(action, $event.value)"-->
<!--                                [style]="{'width':'250px'}"-->
<!--                                appendTo="body"-->
<!--                                placeholder="اکشن خود را انتخاب نمایید">-->
<!--                              </p-dropdown>-->

<!--                              <button type="button" pButton pRipple class="p-button-danger ml-2"-->
<!--                                      label="حذف اکشن" icon="pi pi-trash" (click)="removeActionCard(event, ai)"></button>-->
<!--                            </div>-->

<!--                            <ng-container [ngSwitch]="action.type">-->

<!--                              &lt;!&ndash; ارسال پیام &ndash;&gt;-->
<!--                              <div *ngSwitchCase="StepEventActionType.SendSms">-->
<!--                                <label>متن پیام</label>-->

<!--                                <ul class="flex align-items-center gap-2 list-none p-0">-->
<!--                                  <li *ngFor="let item of placeHolders" class="text-sm bg-bluegray-300 text-white px-2 border-round cursor-pointer"-->
<!--                                      (click)="appendPlaceholder(action, item)">{{item.caption}}</li>-->
<!--                                </ul>-->

<!--                                <textarea [name]="'message'+ai" pInputTextarea-->
<!--                                  [(ngModel)]="action.data.message"-->
<!--                                  rows="3" class="p-fieldset w-full">-->
<!--                                </textarea>-->
<!--                              </div>-->

<!--                              &lt;!&ndash; تغییر گام &ndash;&gt;-->
<!--                              <div *ngSwitchCase="StepEventActionType.ChangeStep">-->
<!--                                <div class="flex flex-column">-->
<!--                                  <label>انتخاب گام</label>-->
<!--                                  <p-dropdown-->
<!--                                    [options]="steps"-->
<!--                                    optionLabel="title"-->
<!--                                    optionValue="id"-->
<!--                                    [(ngModel)]="action.data.stepId"-->
<!--                                    [style]="{'width':'250px'}"-->
<!--                                    appendTo="body"-->
<!--                                    placeholder="گام خود را انتخاب نمایید">-->
<!--                                  </p-dropdown>-->
<!--                                </div>-->
<!--                              </div>-->

<!--                              &lt;!&ndash; ایجاد معامله &ndash;&gt;-->
<!--                              <div *ngSwitchCase="StepEventActionType.CreateWorkItem">-->
<!--                                <label>نام معامله</label>-->
<!--                                <input type="text" pInputText [(ngModel)]="action.data.title" class="w-full mb-3">-->
<!--                                <label>توضیحات</label>-->
<!--                                <textarea [name]="'description'+ai" class="p-fieldset" pInputTextarea [(ngModel)]="action.data.description" rows="3" class="w-full"></textarea>-->
<!--                                <div class="flex flex-column">-->
<!--                                  <label>گام</label>-->
<!--                                  <p-dropdown-->
<!--                                    [options]="steps"-->
<!--                                    optionLabel="title"-->
<!--                                    optionValue="id"-->
<!--                                    [(ngModel)]="action.data.stepId"-->
<!--                                    [style]="{'width':'250px'}"-->
<!--                                    appendTo="body"-->
<!--                                    placeholder="گام خود را انتخاب نمایید">-->
<!--                                  </p-dropdown>-->
<!--                                </div>-->
<!--                              </div>-->

<!--                              <div *ngSwitchCase="StepEventActionType.SendSurveyActionRequest">-->
<!--                                <label>نظرسنجی</label>-->
<!--                                <p-dropdown-->
<!--                                  [options]="steps"-->
<!--                                  optionLabel="title"-->
<!--                                  optionValue="id"-->
<!--                                  [(ngModel)]="action.data.stepId"-->
<!--                                  [style]="{'width':'250px'}"-->
<!--                                  appendTo="body"-->
<!--                                  placeholder="گام خود را انتخاب نمایید">-->
<!--                                </p-dropdown>-->
<!--                                <label>پیام</label>-->
<!--                                <textarea [name]="'descriptionSurvey'+ai" class="p-fieldset" pInputTextarea [(ngModel)]="action.data.description" rows="3" class="w-full"></textarea>-->
<!--                              </div>-->

<!--                            </ng-container>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                  </div>-->

<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </p-tabPanel>-->
<!--      </p-tabView>-->

<!--    </div>-->

<!--    <div class="col-12">-->
<!--      <div class="text-left mt-3">-->
<!--        <button type="button" pButton pRipple-->
<!--                class="p-button-success"-->
<!--                label="ثبت" icon="pi pi-save mx-2"-->
<!--                (click)="save()">-->
<!--        </button>-->
<!--        <button type="button" pButton pRipple-->
<!--                class="mr-4 p-button-danger"-->
<!--                label="انصراف" icon="pi pi-sign-out mx-2"-->
<!--                (click)="cancel()">-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>

<!--************************** begin Action modal *************************************-->
<p-dialog
  [styleClass]="'modal-medium'"
  [style]="{direction:'rtl'}"
  [(visible)]="showDialog"
  [appendTo]="'body'"
  header="اکشن"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div *ngIf="selectedEvent" class="">
        <div class="flex flex-column">

<!--          <div class="flex justify-content-end mb-3">-->
<!--            <button type="button" pButton pRipple class="p-button-success mx-2"-->
<!--                    label="اکشن جدید" icon="pi pi-plus" (click)="addActionCard(selectedEvent)"></button>-->
<!--            <button type="button" pButton pRipple class="p-button-success"-->
<!--                    label="ذخیره" icon="pi pi-save" (click)="saveCurrentEvent(selectedEvent)"></button>-->
<!--          </div>-->

          <div class="grid">

            <div class="col-12 p-3 border-round surface-100 mt-4" *ngFor="let action of selectedEvent.actions; let ai = index; let lastAction = last">

              <div class="flex justify-content-between mb-3">
                <ul class="flex list-none p-0 gap-2 mb-3">
                  <li *ngFor="let opt of options"
                      class="px-3 py-1 border-round cursor-pointer"
                      [ngClass]="{'bg-blue-500 text-white': action.type === opt.value, 'bg-gray-200': action.type !== opt.value}"
                      (click)="onchangeAction(action, opt.value)">
                    {{ opt.title }}
                  </li>
                </ul>

              </div>

              <ng-container [ngSwitch]="action.type">

                <!-- ارسال پیام -->
                <div *ngSwitchCase="StepEventActionType.SendSms">
                  <label>متن پیام</label>
                  <ul class="flex align-items-center gap-2 list-none p-0">
                    <li *ngFor="let item of placeHolders" class="text-sm bg-bluegray-300 text-white px-2 border-round cursor-pointer"
                        (click)="appendPlaceholder(action, item)">{{item.caption}}</li>
                  </ul>
                  <textarea [name]="'message'+ai" pInputTextarea
                            [(ngModel)]="action.data.message"
                            rows="3" class="p-fieldset w-full">
              </textarea>
                </div>

                <!-- تغییر گام -->
                <div *ngSwitchCase="StepEventActionType.ChangeStep">
                  <div class="flex flex-column">
                    <label>انتخاب گام</label>
                    <p-dropdown
                      [options]="steps"
                      optionLabel="title"
                      optionValue="id"
                      [(ngModel)]="action.data.stepId"
                      [style]="{'width':'250px'}"
                      appendTo="body"
                      placeholder="گام خود را انتخاب نمایید">
                    </p-dropdown>
                  </div>
                </div>

                <!-- ایجاد معامله -->
                <div *ngSwitchCase="StepEventActionType.CreateWorkItem">
                  <label>نام معامله</label>
                  <input type="text" pInputText [(ngModel)]="action.data.title" class="w-full mb-3">
                  <label>توضیحات</label>
                  <textarea [name]="'description'+ai" class="p-fieldset" pInputTextarea [(ngModel)]="action.data.description" rows="3" class="w-full"></textarea>
                  <div class="flex flex-column">
                    <label>گام</label>
                    <p-dropdown
                      [options]="steps"
                      optionLabel="title"
                      optionValue="id"
                      [(ngModel)]="action.data.stepId"
                      [style]="{'width':'250px'}"
                      appendTo="body"
                      placeholder="گام خود را انتخاب نمایید">
                    </p-dropdown>
                  </div>
                </div>

                <!-- نظرسنجی -->
                <div *ngSwitchCase="StepEventActionType.SendSurveyActionRequest">
                  <div class="my-1">
                    <label>نظرسنجی</label>
                    <div class="field">
                      <p-dropdown
                        [options]="steps"
                        optionLabel="title"
                        optionValue="id"
                        [(ngModel)]="action.data.stepId"
                        [style]="{'width':'250px'}"
                        appendTo="body"
                        placeholder="گام خود را انتخاب نمایید">
                      </p-dropdown>
                    </div>
                  </div>

                  <div class="my-1">
                    <label>پیام</label>
                    <div class="field">
                      <textarea [name]="'descriptionSurvey'+ai" class="p-fieldset" pInputTextarea [(ngModel)]="action.data.description" rows="3" class="w-full"></textarea>
                    </div>
                  </div>

                </div>

              </ng-container>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="ثبت"
      class="p-button-success p-mr-2"
      (click)="saveCurrentEventDirect(selectedEvent)"></button>

    <button
      pButton
      pRipple
      label="انصراف"
      class="p-button-danger p-mr-2"
      (click)="showDialog = false"></button>
  </ng-template>

</p-dialog>
<!--************************** end Action modal *************************************-->
