<div class="grid">

  <div class="col-3">


    <div class="p-card p-4 mb-3 shadow-2"
         [class]="workItem?.status && workItemStatesEnum[workItem?.status]?.value ? (workItemStatesEnum[workItem?.status].value == 1 ? 'success' : (workItemStatesEnum[workItem?.status].value == 2 ? 'failure' : '')): ''">

      <div class="flex justify-content-center relative">
        <div class="flex flex-column align-items-center justify-content-center">
          <p class="p-card-title text-lg m-0">
            {{workItem?.title}}
          </p>
          <p class="p-card-title text-xs text-gray-500 cursor-pointer" [routerLink]="['/path', workItem?.pathId]">
            کاریز:
            {{workItem?.path.title}}
          </p>
        </div>

        <div class="absolute top-2 left-0">
          <i class="pi pi-ellipsis-h cursor-pointer text-gray-500 text-lg"
             (click)="op.toggle($event)"></i>

          <p-overlayPanel #op>
            <ul class="list-none p-2 m-0 flex flex-column gap-2" style="min-width:140px">
              <li (click)="onChangeTitleWorkItem(workItem)"
                  class="cursor-pointer flex align-items-center gap-2 p-2 border-round hover:bg-orange-200 text-orange-500">
                <i class="pi pi-pencil"></i>
                ویرایش عنوان معامله
              </li>

              <li (click)="onDeleteWorkItem(workItem)"
                  class="cursor-pointer flex align-items-center gap-2 p-2 border-round hover:bg-red-200 text-red-500">
                <i class="pi pi-trash"></i>
                حذف
              </li>

            </ul>
          </p-overlayPanel>


          <p-confirmDialog key="changeTitle">
            <ng-template pTemplate="message" let-message>
              <div>
                <label class="font-bold text-900">عنوان</label>
                <div class="field">
                  <input
                    [(ngModel)]="newTitleWorkItem"
                    [style]="{'width':'220px'}"
                    pInputText
                    type="text"
                    id="title"
                    name="title"
                    placeholder="عنوان معامله را وارد نمایید."
                    class="p-fieldset"/>
                </div>
              </div>
            </ng-template>
          </p-confirmDialog>

        </div>
      </div>


      <div class="overlay" *ngIf="workItem?.status && workItemStatesEnum[workItem?.status].value == 1">
        <img src="./assets/images/successfull.png">
      </div>

      <div class="overlay" *ngIf="workItem?.status && workItemStatesEnum[workItem?.status].value == 2">
        <img src="./assets/images/failure.png">
      </div>

      <div class="p-card-body">
        <div class="relative">
          <button
            (click)="scrollStepper('left')"
            class="scroll-btn left-btn">
            ◀
          </button>

          <!-- دکمه اسکرول به راست -->
          <button
            (click)="scrollStepper('right')"
            class="scroll-btn right-btn">
            ▶
          </button>

          <div #stepperContainer class="stepper overflow-hidden" *ngIf="listOfStep">
            <div class="step"
                 *ngFor="let step of listOfStep; let i = index"
                 [class.active]="step.id === workItem?.stepId"
                 (click)="goToStep(step.id)">
              <div class="step-indicator">
                <span>{{ i + 1 }}</span>
              </div>
              <div class="step-label">{{ step.title }}</div>
            </div>
          </div>

        </div>

      </div>

      <div class="p-card-footer flex align-items-end justify-content-between">
        <div class="flex flex-column align-items-center gap-2">
          <!--          <img src="assets/images/avatar-60.png" class="w-4rem" alt="" pTooltip="کارشناس" tooltipPosition="top">-->
          <p>
            کارشناس:
            {{ workItem?.currentUser?.fullName }}
            <i *ngIf="userType == 1 || userType == 2"
               class="pi pi-user-edit text-orange-500 text-xl border-1 border-solid border-orange-500 border-round p-1 cursor-pointer mr-2" (click)="showChangeExpertModal = true"></i>

            <!--            <span class="flex align-items-center mt-2" pTooltip="کاریز"-->
            <!--                  tooltipPosition=left>-->
            <!--            <img src="assets/images/destination-40.png" class="w-2rem" alt="">-->
            <!--              {{workItem?.path.title}}-->
            <!--          </span>-->
          </p>

        </div>

        <div class="form-group flex gap-2" *ngIf="workItem?.status == WorkItemStatesEnum.New">
          <button
            class="p-button-success p-3 text-xs pi pi-check flex gap-2" pButton
            label="موفق" (click)="onCompleteWorkItem(WorkItemStatesEnum.Successful)"></button>

          <button
            class="p-button-danger p-3 text-xs pi pi-times flex gap-2" pButton
            label="ناموفق" (click)="showFailureModal = true"></button>
        </div>

        <div class="form-group flex gap-2" *ngIf="workItem?.status != WorkItemStatesEnum.New">
          <button
            class="p-button-warning p-3 text-xs pi pi-check flex gap-2 z-5" pButton
            label="تغییر وضعیت به جاری" (click)="onCompleteWorkItem(WorkItemStatesEnum.New)"></button>
        </div>

      </div>

    </div>

    <div class="p-card p-4 mb-3 shadow-2">
      <div class="flex align-items-center justify-content-between">

        <p class="m-0 cursor-pointer" [routerLink]="['/setting/customers/edit/' + workItem?.customer.id ]">
          {{workItem?.customer.name + ' ' + workItem?.customer.family}}
          (شرکت
          {{workItem?.customer?.companyName}})
        </p>

        <!--        <div class="form-item flex gap-2">-->
        <!--          <i class="pi pi-building border border-1 border-gray-400 border-radius-3 p-1 cursor-pointer" style="font-size: 1.4rem"></i>-->
        <!--&lt;!&ndash;          <i class="pi pi-user-edit border border-1 border-gray-400 border-radius-3 p-1 cursor-pointer" title="ویرایش" style="font-size: 1.4rem"></i>&ndash;&gt;-->
        <!--        </div>-->

      </div>

      <div class="p-card-body px-0">
        <div class="form-group flex justify-content-between px-0 align-items-center">

          <div class="form-group">
            <img src="./assets/images/icon-company-100.png" alt="">
            <!--            <p class="m-0 text-sm">{{workItem?.customer?.companyName}}</p>-->
          </div>

          <div class="form-group">
            <p class="m-0 flex align-items-center justify-content-end" *ngFor="let item of workItem?.customer?.customerPhones; let last = last">
              <i *ngIf="last" class="pi pi-plus m-1 text-green-500 cursor-pointer text-sm" (click)="addNewCustomerPhone($event)"></i>
              <span class="text-sm">{{item.phoneNumber}}</span>
              <i class="pi pi-phone m-1 text-teal-500" style="font-size: 1.1rem"></i>
            </p>

            <p-confirmPopup key="addPhone">
              <ng-template pTemplate="content" let-message>
                <div class="flex flex-column align-items-center w-full gap-3 p-2">
                  <div>
                    <label class="font-bold text-900">عنوان</label>
                    <div class="field">
                      <input
                        [(ngModel)]="newTitlePhoneNumber"
                        [style]="{'width':'220px'}"
                        pInputText
                        type="text"
                        id="title"
                        name="title"
                        placeholder="عنوان تماس مشتری را وارد نمایید."
                        class="p-fieldset"/>
                    </div>
                  </div>

                  <div>
                    <label class="font-bold text-900">شماره تماس</label>
                    <div class="field">
                      <input
                        pInputText
                        [style]="{'width':'220px'}"
                        class="p-fieldset"
                        type="text"
                        id="phoneNumber"
                        name="phoneNumber"
                        minlength="11"
                        maxlength="11"
                        inputmode="numeric"
                        autocomplete="off"
                        required
                        placeholder="شماره تماس مشتری را وارد نمایید."
                        #phoneNumber="ngModel"
                        [(ngModel)]="newPhoneNumber"
                        [pKeyFilter]="'num'" />

                      <!--                      <div *ngIf="(phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched))" class="text-red-500 text-sm mt-1">-->
                      <!--                        <div *ngIf="phoneNumber.errors?.['required']">شماره موبایل الزامی است.</div>-->
                      <!--                        <div *ngIf="phoneNumber.errors?.['minlength'] || phoneNumber.errors?.['maxlength']">شماره موبایل باید دقیقاً ۱۱ رقم باشد.</div>-->
                      <!--                        <div *ngIf="phoneNumber.errors?.['pattern'] && field.phoneNumber?.length === 11">-->
                      <!--                          شماره موبایل معتبر نیست.-->
                      <!--                        </div>-->
                      <!--                        <div *ngIf="field.phoneNumber && !field.phoneNumber.startsWith('09')">-->
                      <!--                          شماره موبایل باید با 09 شروع شود.-->
                      <!--                        </div>-->
                      <!--                      </div>-->

                    </div>
                  </div>

                </div>
              </ng-template>
            </p-confirmPopup>
          </div>
        </div>
      </div>

    </div>

    <div class="p-card p-0 mb-3 shadow-2">
      <div class="text-center bg-gray-300 border-round-top">

        <button pButton class="border-none cursor-pointer text-base text-gray-700" style="background:none"
                (click)="tagOp.toggle($event)">
          <i class="pi pi-tags mx-2"></i>
          برچسب ها
        </button>
        <p-overlayPanel #tagOp>
          <div class="w-10rem py-2 px-3">
            <ul class="list-none m-0 p-0">
              <li
                *ngFor="let tag of listOfTag"
                (click)="onAssignTag(tag,tagOp)"
                class="flex justify-content-start gap-2 text-center py-2 my-2 cursor-pointer hover:text-white hover:bg-gray-300 border-round">

                <span [style]="{'background':tag.color}"
                      class="w-1rem h-1rem inline-block border-round-3xl"></span>
                <span class="text-sm font-bold">{{tag.title}}</span>
              </li>
            </ul>
          </div>
        </p-overlayPanel>
      </div>

      <div class="py-3 px-2">
        <ul class="p-0 list-none m-0 flex flex-wrap gap-2">
          <li
            *ngFor="let tag of selectedTags"
            class="flex align-items-center gap-2 border-round px-2 py-1"
            [style.background]="tag.color">
            <i class="pi pi-times cursor-pointer text-xs text-white"
               (click)="onDeleteTag(tag)"></i>
            <span class="text-white text-sm font-bold">{{ tag.title }}</span>
          </li>
        </ul>
      </div>

    </div>

    <div *ngIf="workItem?.description" class="p-card p-0 mb-3 shadow-2">
      <div class="text-center bg-gray-300 border-round-top">
        <button pButton class="border-none cursor-pointer text-base text-gray-700" style="background:none">
          <i class="pi pi-comment mx-2"></i>
          توضیحات
        </button>
      </div>

      <div class="py-3 px-2">
        <p class="text-sm">{{workItem?.description}}</p>
      </div>

    </div>
  </div>

  <div class="col-9" *ngIf="workItem">
    <div class="text-left">
      <img src="assets/images/back-80.png"
           (click)="backLocation()"
           class="cursor-pointer back-location"
           pTooltip="بازگشت"
           tooltipPosition="right"
           alt="">
    </div>
    <app-activity-note [workItem]="workItem"
                       [expertId]="workItem.currentUser.id"
                       [pathId]="workItem.pathId"
                       [workItemId]="workItemId"
                       [customerId]="customerId"
    ></app-activity-note>
  </div>

</div>


<!--************************** begin Failure WorkItem modal *************************************-->
<p-dialog
  [styleClass]="'modal-medium'"
  [style]="{direction:'rtl'}"
  [(visible)]="showFailureModal"
  [appendTo]="'body'"
  header="عدم موفق شدن معامله"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div class="form-group">
        <label class="block mb-2"> دلیل شکست فعالیت </label>
        <p-dropdown
          [options]="listOfFailureReasons"
          [(ngModel)]="workItemStatus.failureReasonId"
          [style]="{'width':'100%'}"
          optionLabel="title"
          optionValue="id"
          placeholder="دلیل شکست فعالیت انتخاب نمایید">
        </p-dropdown>
      </div>

      <div class="form-group mt-3">
        <label class="block mb-2">توضیحات</label>
        <div class="field">
              <textarea
                [(ngModel)]="workItemStatus.description"
                [style]="{'width':'100%'}"
                rows="5"
                id="description"
                name="description"
                pInputTextarea
                placeholder="توضیحات خودرا وارد نمایید."
                class="p-fieldset">
              </textarea>
        </div>
      </div>

    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="تایید"
      class="p-button-success p-mr-2"
      (click)="onCompleteWorkItem(WorkItemStatesEnum.Failed)"
    ></button>
    <!--    (click)="onFailureWorkItem()"-->

    <button
      pButton
      pRipple
      label="انصراف"
      class="p-button-danger p-mr-2"
      (click)="showFailureModal= false"
    ></button>
  </ng-template>

</p-dialog>
<!--************************** end Failure WorkItem modal *************************************-->

<!--************************** begin Change Expert modal *************************************-->
<p-dialog
  [styleClass]="'modal-medium'"
  [style]="{direction:'rtl'}"
  [(visible)]="showChangeExpertModal"
  [appendTo]="'body'"
  header="تغییر کارشناس قلم کاری"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div class="form-group">
        <label class="block mb-2">کارشناس</label>
        <p-dropdown
          [options]="expertUsers"
          [(ngModel)]="selectedExpert"
          [appendTo]="'body'"
          [style]="{'width':'100%'}"
          optionLabel="fullName"
          optionValue="id"
          placeholder ="کارشناس خود را انتخاب نمایید">
        </p-dropdown>
      </div>


    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="تایید"
      class="p-button-success p-mr-2"
      (click)="changeExpertWorkItem()"></button>

    <button
      pButton
      pRipple
      label="انصراف"
      class="p-button-danger p-mr-2"
      (click)="showChangeExpertModal= false"
    ></button>
  </ng-template>

</p-dialog>
<!--************************** end Change Expert modal *************************************-->


<!--************************** begin ShowMessagePlatform modal *************************************-->
<p-dialog
  [styleClass]="'modal-small'"
  [style]="{direction:'rtl'}"
  [(visible)]="showDialogMessage"
  [appendTo]="'body'"
  header="پیام های ارسالی"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div class="form-group p-2 border-round bg-gray-500 hover:bg-gray-800 cursor-pointer" *ngFor="let message of workItem?.messages">
        <p class="text-sm text-white">
          با شماره
          <b class="text-base font-bold">{{message.phoneNumber ?? 'ناموجود'}}</b>
          پیام
          <b class="text-base font-bold">{{message.message ?? 'ناموجود'}}</b>
          در تاریخ
          <b class="text-base font-bold">{{message.sendDateTime ?? 'ناموجود'}}</b>
          ارسال شد.
        </p>
      </div>


    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="بستن"
      class="p-button-success p-mr-2"
      (click)="showDialogMessage = false"></button>

  </ng-template>

</p-dialog>
<!--************************** end ShowMessagePlatform modal *************************************-->
