@import 'assets/font/Vazirmatn-font-face.css';

html, body { height: 100%; }
body { margin: 0;  }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 800;
  src: url(../src/assets/fonts/materialFont.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

*{
    font-family: Shabnam!important;
    font-weight: 800;
}
.pi{
  font-family: 'primeicons'!important;
}
.material-icons{
  font-family: 'Material Icons' !important;
}
.p-menuitem-icon
{
  margin-left: 0.5rem !important;
}
.p-menu {
  border : 0px !important;
  border-bottom-width: 0px!important;
}
.p-paginator
{
  direction: ltr!important;
}
.p-d-flex
{
  display: flex;
  justify-content: space-between;
}
.p-m-0
{
  margin: 0;
}
.p-field {
  margin-bottom: 1rem;
}
.p-field > label {
  display: inline-block;
  padding: 0.5rem 0;
}
/*.p-fluid {*/
/*  width: 100%;*/
/*  min-height: 3em;*/
/*}*/
.p-button .p-button-icon-left {
  margin-left: 0.5rem;
}
.p-component{
  font-weight: lighter!important;
  font-size: 0.9rem;
}
.p-dropdown-items-wrapper{
  /*max-height: 125px!important;*/
}
.mat-toolbar
{
  background: #1a783e!important;
}
.p-toast-top-right {
  top: 20px;
  left: 20px;
  right: auto!important;
}
.dp-picker-input {
  border: 1px solid #ced4da;
  padding: 1.1rem 1.1rem;
  text-align: center;
  font-size: 1rem!important;
}
.mat-drawer-container
{
  background: #f1f1f1!important;
}
.p-blockui-document
{
  z-index: 1000;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th
{
  text-align: center!important;
}
.p-datatable .p-datatable-tbody > tr > td
{
  text-align: center;
}
.p-float-label > label
{
  right: 0.5rem;
}

.p-dropdown-items > ol,ul
{
    padding-left:0!important;
}

/*.datepicker-wrapper {*/
/*    position: relative;*/

/*ng-persian-datepicker .datepicker-outer-container {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: calc(var(--input-height) + var(--input-vertical-margin));*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/
/*}*/

.datepicker-outer-container {
    position: absolute;
    z-index: 1;
    top: calc(var(--input-height) + var(--input-vertical-margin));
    right: 0;
    left: 0;
}

*:not(.fa,i,mat-icon,.p-avatar-icon,.p-menuitem-icon,.p-panelmenu-icon , .pi ) {
//font-family: 'Yekan', sans-serif !important;
    font-family: 'Vazirmatn', sans-serif !important;
  font-weight: 300 !important;
}

