::ng-deep{
  .p-fileupload-buttonbar{
    padding: 0px !important;
  }
  .p-fileupload-choose{
    margin: 0px;
  }
  .p-fileupload-content{
    display: none;
  }
}

.bg-whatsapp{
  background: url("/assets/images/whatsapp-background.jpg");
  background-size: 50%;
  //background-attachment: fixed;
}
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  //padding: 15px;
  background: #f5f7fa;//#f5f8fe;
  //background: url("/assets/images/whatsapp-background.jpg") no-repeat fixed;

}

.chat-message {
  display: flex;
  align-items: flex-end;
  //max-width: 80%;

  &.received {
    align-self: flex-start;
    .bubble {
      background-color: #fff;
      border-radius: 15px 15px 15px 0;
    }
  }

  &.sent {
    .bubble {
      width: fit-content;
      background-color:  #fff; //#dcf8c6;
      border-radius: 15px 15px 0 15px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1186cb;
  color: #fff;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ddd;
}

.bubble {
  padding: 10px 12px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .text {
    margin: 0 0 5px 0;
    font-size: 14px;
    line-height: 1.4;
  }

  .time {
    //position: absolute;
    //position: relative;
    //bottom: 4px;
    //left: 8px;
    //right: 8px;
    font-size: 11px;
    color: #888;
    display: flex;
    align-items: end;
  }

  .text-nowrap{
    text-wrap: nowrap;
  }

}
