<div class="" *ngIf="customerId; else newCustomer">

  <div class="grid">
    <div class="col-12 md:col-3 ">
      <div class="card p-0 ">

        <p class="border-round-top h-3rem flex align-items-center justify-content-center bg-gray-300 border-round-top mb-0 text-base text-gray-700">
          مشخصات
        </p>

        <div class="p-3">

          <div class="grid">
            <!-- Row -->
            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3">
                <span class="text-600 text-sm">نام و نام خانوادگی:</span>
                <span class="text-900 font-semibold text-sm text-left">{{manager.oneObject.name + ' ' +manager.oneObject.family}}</span>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3">
                <span class="text-600 text-sm">کد ملی:</span>
                <span class="text-900 font-semibold text-sm text-left">{{manager.oneObject.nationalId ?? 'نامشخص'}}</span>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3">
                <span class="text-600 text-sm">جنسیت:</span>
                <span class="text-900 font-semibold text-sm text-left">{{manager.oneObject?.gender == 0 ? 'زن' : 'مرد' }}</span>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3">
                <span class="text-600 text-sm">شرکت:</span>
                <span class="text-900 font-semibold text-sm text-left">{{manager.oneObject.companyName}}</span>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3">
                <span class="text-600 text-sm">شیوه آشنایی:</span>
                <span class="text-900 font-semibold text-sm text-left">{{manager.oneObject?.accustomMethod?.title}}</span>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3">
                <span class="text-600 text-sm">گروه:</span>
                <span class="text-900 font-semibold text-sm text-left">{{manager.oneObject?.group ?? 'نامشخص'}}</span>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="flex justify-content-between align-items-start border-bottom-1 surface-border pb-3 text-purple-500 cursor-pointer" (click)="showModal('workItem')">
                <span class="text-sm">معاملات:</span>
                <span class="font-semibold text-sm text-left">{{manager.oneObject?.workItems?.length || 0}}</span>
              </div>
            </div>

            <div class="col-12">
              <div class="flex flex-wrap align-items-start gap-2 ">
                <p class="border-round text-xs px-2 py-1 font-bold flex flex-wrap flex-column"
                   *ngFor="let field of manager.oneObject.customerPhones; let i = index"
                   [class]="colors[i % colors.length]">
                  <span class="font-semibold text-xs text-center">{{field.title}}</span>
                  <p-divider styleClass="m-0 p-0" class="w-full m-0 " align="center" type="solid" ></p-divider>
                  <span class="font-semibold text-xs text-right mt-1">{{field.phoneNumber}}</span>
                </p>
              </div>
            </div>

          </div>

        </div>

        <div class="text-left p-2">
          <button
            pButton
            pRipple
            label=""
            class="p-button-success pi pi-user-edit text-lg"
            (click)="onOpenCustomerModal()"></button>
          <!--          <i -->
          <!--            class="pi pi-user-edit p-button p-button-text p-button-rounded p-button-warning p-2"-->
          <!--            style="font-size: 1.4rem"></i>-->
        </div>

      </div>

      <div class="card mt-2 p-0">

        <div class="text-center bg-gray-300 border-round-top">
          <button pButton class="border-none cursor-pointer text-base text-gray-700" style="background:none"
                  (click)="tagOp.toggle($event)">
            <i class="pi pi-tags mx-2"></i>
            برچسب ها
          </button>

          <p-overlayPanel #tagOp>
            <div class="w-10rem py-2 px-3">
              <ul class="list-none m-0 p-0">
                <li
                  *ngFor="let tag of listOfTag"
                  (click)="onAssignTag(tag,tagOp)"
                  class="flex justify-content-start gap-2 text-center py-2 my-2 cursor-pointer hover:text-white hover:bg-gray-300 border-round">

                <span [style]="{'background':tag.color}"
                      class="w-1rem h-1rem inline-block border-round-3xl"></span>
                  <span class="text-sm font-bold">{{tag.title}}</span>
                </li>
              </ul>
            </div>
          </p-overlayPanel>
        </div>

        <div class="py-3 px-2">
          <ul class="p-0 list-none m-0 flex flex-wrap gap-2">
            <li
              *ngFor="let tag of selectedTags"
              class="flex align-items-center gap-2 border-round px-2 py-1"
              [style.background]="tag.color">
              <i class="pi pi-times cursor-pointer text-xs text-white"
                 (click)="onDeleteTag(tag)"></i>
              <span class="text-white text-sm font-bold">{{ tag.title }}</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="col-12 md:col-9">
      <div class="grid" *ngIf="customerId">
        <div class="col-12">

          <app-activity-note [messages]="manager.oneObject.messages" [customerId]="customerId"></app-activity-note>

        </div>

      </div>
    </div>

  </div>



</div>


<ng-template  #newCustomer>
  <div class="p-card p-4 shadow-2 m-auto" style="width:800px; min-height:80vh">
    <div class="grid">

      <div class="col-12 md:col-6">
        <div class="form-group">
          <label class="text-900" for="name">نام</label>
          <div class="field">
            <input
              [style]="{'width':'100%'}"
              pInputText
              type="text"
              id="name"
              name="name"
              placeholder="نام مشتری را وارد نمایید."
              class="p-fieldset"
              [(ngModel)]="manager.oneObject.name">
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="form-group">
          <label class="text-900" for="family">نام خانوادگی </label>
          <div class="field">
            <input
              [style]="{'width':'100%'}"
              pInputText
              type="text"
              id="family"
              name="family"
              placeholder="نام خانوادگی مشتری را وارد نمایید."
              class="p-fieldset"
              [(ngModel)]="manager.oneObject.family">
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="form-group">
          <label class="text-900" for="companyName">شرکت</label>
          <div class="field">
            <input
              [style]="{'width':'100%'}"
              pInputText
              type="text"
              id="companyName"
              name="companyName"
              placeholder="نام خانوادگی شرکت را وارد نمایید."
              class="p-fieldset"
              [(ngModel)]="manager.oneObject.companyName">
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="form-group">
          <label class="text-900" for="companyName">شیوه آشنایی</label>
          <div class="field">
            <p-dropdown
              [styleClass]="'clear-icon'"
              [showClear]="true"
              [options]="accustom"
              [(ngModel)]="manager.oneObject.accustomMethodId"
              class="mt-2"
              [style]="{'width':'100%'}"
              optionLabel="title"
              optionValue="id"
              placeholder="شیوه آشنایی">
            </p-dropdown>
          </div>
        </div>
      </div>

    </div>


    <div class="flex-column">

      <p-fieldset>

        <ng-template pTemplate="header">
          <div>
            <i class=" ml-2 pi pi-info-circle"></i>
            <span>شماره تماس</span>
          </div>
        </ng-template>

        <div class="flex-column">

          <div class="grid">

            <div class="col-12 mt-2">

              <div class="flex gap-3 align-items-center my-3" *ngFor="let field of manager.oneObject.customerPhones; let i = index; let last = last">
                <div>
                  <label class="text-900">عنوان</label>
                  <div class="field">
                    <input
                      [(ngModel)]="field.title"
                      [style]="{'width':'220px'}"
                      pInputText
                      type="text"
                      id="title"
                      name="title-{{i}}"
                      placeholder="عنوان تماس مشتری را وارد نمایید."
                      class="p-fieldset"/>
                  </div>
                </div>

                <div>
                  <label class="text-900">شماره تماس</label>
                  <div class="field">
                    <input
                      pInputText
                      [style]="{'width':'220px'}"
                      class="p-fieldset"
                      type="text"
                      id="phoneNumber"
                      name="phoneNumber-{{i}}"
                      minlength="11"
                      maxlength="11"
                      pattern="^09\d{9}$"
                      inputmode="numeric"
                      autocomplete="off"
                      required
                      placeholder="شماره تماس مشتری را وارد نمایید."
                      #phoneNumber="ngModel"
                      [(ngModel)]="field.phoneNumber"
                      [pKeyFilter]="'num'" />

                    <!--                    <p-inputNumber-->
                    <!--                      [(ngModel)]="field.phoneNumber"-->
                    <!--                      mode="decimal"-->
                    <!--                      [useGrouping]="false"-->
                    <!--                      [prefix]="'09'"-->
                    <!--                      [min]="0"-->
                    <!--                      [max]="999999999"-->
                    <!--                      [maxlength]="11"-->
                    <!--                      (keydown)="preventPrefixDelete($event)"-->
                    <!--                      (input)="keepPrefix()"-->
                    <!--                    ></p-inputNumber>-->


                    <div *ngIf="(phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched))" class="text-red-500 text-sm mt-1">
                      <div *ngIf="phoneNumber.errors?.['required']">شماره موبایل الزامی است.</div>
                      <div *ngIf="phoneNumber.errors?.['minlength'] || phoneNumber.errors?.['maxlength']">شماره موبایل باید دقیقاً ۱۱ رقم باشد.</div>
                      <div *ngIf="phoneNumber.errors?.['pattern'] && field.phoneNumber?.length === 11">
                        شماره موبایل معتبر نیست.
                      </div>
                      <div *ngIf="field.phoneNumber && !field.phoneNumber.startsWith('09')">
                        شماره موبایل باید با 09 شروع شود.
                      </div>
                    </div>

                  </div>
                </div>

                <div class="flex gap-3 align-items-end">
                  <button
                    type="submit"
                    pButton
                    class="p-button-success pi pi-plus"
                    *ngIf="last"
                    (click)="addField('new')"></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-danger pi pi-trash"
                    (click)="removeField(i)"
                    [disabled]="manager.oneObject.customerPhones.length === 1">
                    <!--                    حذف-->
                  </button>
                </div>

              </div>

            </div>

          </div>

        </div>
      </p-fieldset>

      <div class="grid">
        <div class="col-12">
          <div class="mt-3 mr-3">
            <button type="button" pButton pRipple
                    class="p-button-success"
                    label="ثبت"
                    (click)="manager.save()">
            </button>
            <button type="button" pButton pRipple
                    class="mr-4 p-button-danger"
                    label="انصراف"
                    (click)="manager.cancel()">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!--************************** begin edit customer modal *****************************-->
<p-dialog
  *ngIf="customerJson"
  [styleClass]="'modal-medium'"
  [style]="{direction:'rtl'}"
  [(visible)]="showCustomerModal"
  [appendTo]="'body'"
  header="ویرایش مشتری"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div class="flex-column">
        <div class="flex flex-wrap gap-4 align-content-center">

          <div class="form-group">
            <label class="font-bold text-900 text-lg" for="name">نام</label>
            <div class="field">
              <input
                [style]="{'width':'200px'}"
                pInputText
                type="text"
                id="name"
                name="name"
                placeholder="نام مشتری را وارد نمایید."
                class="p-fieldset"
                [(ngModel)]="customerJson.name">
            </div>
          </div>

          <div class="form-group">
            <label class="font-bold text-900 text-lg" for="family">نام خانوادگی </label>
            <div class="field">
              <input
                [style]="{'width':'200px'}"
                pInputText
                type="text"
                id="family"
                name="family"
                placeholder="نام خانوادگی مشتری را وارد نمایید."
                class="p-fieldset"
                [(ngModel)]="customerJson.family">
            </div>
          </div>

          <div class="form-group">
            <label class="font-bold text-900 text-lg" for="companyName">شرکت</label>
            <div class="field">
              <input
                [style]="{'width':'200px'}"
                pInputText
                type="text"
                id="companyName"
                name="companyName"
                placeholder="نام خانوادگی مشتری را وارد نمایید."
                class="p-fieldset"
                [(ngModel)]="customerJson.companyName">
            </div>
          </div>

          <div class="form-group">
            <label class="font-bold text-900 text-lg" for="companyName">شیوه آشنایی</label>
            <div class="field">
              <p-dropdown
                [styleClass]="'clear-icon'"
                [showClear]="true"
                [options]="accustom"
                [(ngModel)]="customerJson.accustomMethodId"
                class="mt-2"
                [style]="{'width':'220px'}"
                optionLabel="title"
                optionValue="id"
                placeholder="شیوه آشنایی">
              </p-dropdown>
            </div>
          </div>

        </div>

        <!--        <p-fieldset>-->

        <!--          <ng-template pTemplate="header">-->
        <!--            <div>-->
        <!--              <i class=" ml-2 pi pi-info-circle"></i>-->
        <!--              <span>شماره تماس</span>-->
        <!--            </div>-->
        <!--          </ng-template>-->

        <!--          <div class="flex-column">-->

        <!--            <div class="grid">-->

        <!--              <div class="col-12 mt-2">-->
        <!--                <button type="submit"-->
        <!--                        pButton-->
        <!--                        class="p-button-success"-->
        <!--                        (click)="addField()">اضافه کردن شماره جدید</button>-->
        <!--                <div class="flex gap-3 align-items-center my-3" *ngFor="let field of manager.oneObject.customerPhones; let i = index">-->
        <!--                  <div>-->
        <!--                    <label class="font-bold text-900 text-lg">عنوان</label>-->
        <!--                    <div class="field">-->
        <!--                      <input-->
        <!--                        [(ngModel)]="field.title"-->
        <!--                        [style]="{'width':'220px'}"-->
        <!--                        pInputText-->
        <!--                        type="text"-->
        <!--                        id="title"-->
        <!--                        name="title-{{i}}"-->
        <!--                        placeholder="عنوان تماس مشتری را وارد نمایید."-->
        <!--                        class="p-fieldset"/>-->
        <!--                    </div>-->
        <!--                  </div>-->

        <!--                  <div>-->
        <!--                    <label class="font-bold text-900 text-lg">شماره تماس</label>-->
        <!--                    <div class="field">-->
        <!--                      <input-->
        <!--                        [style]="{'width':'220px'}"-->
        <!--                        pInputText-->
        <!--                        type="text"-->
        <!--                        id="phoneNumber"-->
        <!--                        name="phoneNumber-{{i}}"-->
        <!--                        placeholder="شماره تماس مشتری را وارد نمایید."-->
        <!--                        class="p-fieldset"-->
        <!--                        [(ngModel)]="field.phoneNumber"-->
        <!--                        [pKeyFilter]="'num'" />-->
        <!--                    </div>-->
        <!--                  </div>-->

        <!--                  <div>-->
        <!--                    <button-->
        <!--                      type="button"-->
        <!--                      pButton-->
        <!--                      pRipple-->
        <!--                      class="p-button-danger mt-3"-->
        <!--                      (click)="removeField(i)"-->
        <!--                      [disabled]="manager.oneObject.customerPhones.length === 1">-->
        <!--                      حذف-->
        <!--                    </button>-->
        <!--                  </div>-->

        <!--                </div>-->

        <!--              </div>-->

        <!--            </div>-->

        <!--          </div>-->
        <!--        </p-fieldset>-->

      </div>

      <div class="form-group">
        <p-divider styleClass="px-5 py-2" class="w-full divider" align="center" type="dashed">
          <b class="px-2 text-lg ">شماره تماس</b>
        </p-divider>
      </div>

      <div class="flex-column">

        <div class="grid">

          <div class="col-12 mt-2">

            <!--            <div class="grid">-->
            <!--              <div class="col-12">-->
            <!--                <div class="mb-3 mb-3">-->
            <!--                  <button type="submit"-->
            <!--                          pButton-->
            <!--                          class="p-button-warning"-->
            <!--                          (click)="addField()">اضافه کردن شماره جدید</button>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->

            <div class="flex gap-3 align-items-center my-3" *ngFor="let field of customerJson.customerPhones; let i = index; let last = last">
              <button
                type="button"
                pButton
                pRipple
                class="p-button p-button-danger p-button-sm mt-3 border-round-3xl p-2 pi pi-times"
                (click)="removeField(i)"
                [disabled]="customerJson.customerPhones.length === 1">
              </button>
              <div>
                <label class="font-bold text-900 text-lg">عنوان</label>
                <div class="field">
                  <input
                    [(ngModel)]="field.title"
                    [style]="{'width':'220px'}"
                    pInputText
                    type="text"
                    id="title"
                    name="title-{{i}}"
                    placeholder="عنوان تماس مشتری را وارد نمایید."
                    class="p-fieldset"/>
                </div>
              </div>

              <div>
                <label class="font-bold text-900 text-lg">شماره تماس</label>
                <div class="field">
                  <input
                    [style]="{'width':'220px'}"
                    pInputText
                    type="text"
                    id="phoneNumber"
                    name="phoneNumber-{{i}}"
                    placeholder="شماره تماس مشتری را وارد نمایید."
                    class="p-fieldset"
                    [(ngModel)]="field.phoneNumber"
                    [pKeyFilter]="'num'" />
                </div>
              </div>

              <div>
                <button type="button" *ngIf="last" (click)="addField()"
                        class="p-button p-button-success border-round-3xl p-2 p-button-sm pi pi-plus cursor-pointer"></button>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="ثبت"
      class="p-button-success p-mr-2"
      (click)="onEditCustomer()"></button>

    <button
      pButton
      pRipple
      label="انصراف"
      class="p-button-danger p-mr-2"
      (click)="onCloseCustomerModal()"
    ></button>
  </ng-template>

</p-dialog>
<!--************************** end edit customer modal *****************************-->


<!--************************** begin workItem modal *****************************-->
<p-dialog
  [styleClass]="'modal-small'"
  [style]="{direction:'rtl'}"
  [(visible)]="showModalWorkItem"
  [appendTo]="'body'"
  header="معامله"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div class="bg-gray-200 hover:bg-gray-500 hover:text-white border-round mb-2 cursor-pointer"
           *ngFor="let item of manager.oneObject.workItems; let i = index"
           [routerLink]="['/workItem',item.id]">

        <div class="flex align-items-center justify-content-between p-2 mt-3 border-round">
          <p class="m-0 flex align-items-center gap-1">
            {{item.title}}
          </p>
          <!--          <p class="m-0 flex align-items-center gap-1">-->
          <!--            {{item.deadline | jalaliDate:'custom':'YYYY-MM-DD'}}-->
          <!--          </p>-->


        </div>

      </div>

    </div>
  </div>

</p-dialog>
<!--************************** end workItem modal *****************************-->

<!--************************** begin branches modal *****************************-->
<p-dialog
  [styleClass]="'modal-small'"
  [style]="{direction:'rtl'}"
  [(visible)]="showModalBranches"
  [appendTo]="'body'"
  header="شعب"
  [modal]="true">

  <div class="grid">
    <div class="col-12">

      <div class="text-white border-round mb-2 cursor-pointer mt-3"
           *ngFor="let item of manager.oneObject.branches; let i = index">

        <div class="flex align-items-center p-2 border-round">
          <p class="m-0 flex align-items-center gap-1">
            {{item}}
          </p>

        </div>

      </div>

    </div>
  </div>

</p-dialog>
<!--************************** end branches modal *****************************-->

